= stylesheet_link_tag "home/question", :media => "all"

article
  .breadcrumbs
      ul
        li
          = link_to "HOME", root_path
        li よくある質問
  section.owner_quesition
    h1
      | よくある質問
      br
      span Q&A
    h2 ログイン方法について
    ul
      li
        .question_toggle 会員登録は無料ですか？
        .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
      li
        .question_toggle 会員登録は無料ですか？
        .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
    h2 ログイン方法について
    ul
      li
        .question_toggle 会員登録は無料ですか？
        .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
      li
        .question_toggle 会員登録は無料ですか？
        .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。


javascript:
  $(function(){
  $('.question_toggle').click(function(){
    $(this).toggleClass("open");
    $(this).next(".answer").slideToggle();
  });
  });
