article{
  .about_text{
    padding: 60px 20px;
    background: #F8F8F8;
    margin-bottom: 50px;
    h1{
      margin-bottom: 20px;
      line-height: 1.6;
      text-align: center;
      font-size: 18px;
      color: #1F77D1;
      &:after{
        content: none;
      }
    }
    p{
      margin: 0 auto;
      font-size: 13px;
      line-height: 2.0;
    }
  }
  .about_flow{
    padding: 0 20px;
    text-align: center;
    margin-bottom: 60px;
    img{
      width: 100%;
    }
  }
  .experience{
    padding: 0 20px 60px;
    .experience_copy{
      text-align: center;
      font-size: 14px;
      line-height: 1.6;
      font-weight: bold;
      color: #7d7d7d;
      margin-bottom: 40px;
    }
    .experience_pc_img{
      display: none;
    }
    .experience_sp_img{
      display: block;
      text-align: center;
      img{
        width: 100%;
      }
    }
  }
  .review{
    background: #F8F8F8;
    padding: 30px 20px 50px;
    ul{
      width: 100%;
      height: 350px;
      .review_cell{
        background: #fff;
        border-radius: 6px;
        margin-right: 20px;
        width: 230px;
        height: 350px;
        .review_img{
          object-fit: cover;
          width: 100%;
          height: 150px;
          border-radius: 6px 6px 0 0;
        }
        .review_profile{
          position: absolute;
          text-shadow: 2px 2px 2px #000;
          top: 120px;
          right: 10px;
          color: #fff;
          margin: 0;
          font-size: 12px;
          .text01{
            font-size: 10px;
          }
          .text02{
            font-size: 11px;
          }
        }
        .review_text{
          padding: 14px;
          h3{
            font-size: 12px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 10px;
          }
          p{
            font-size: 10px;
            margin: 0;
            line-height: 1.4;
          }
        }
      }
    }
  }
}
@media screen and (min-width:600px) and (max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .about_text{
      padding: 100px 0;
      background: #F8F8F8;
      margin-bottom: 100px;
      h1{
        color: #1F77D1;
        width: 1000px;
        margin: 0 auto;
        font-size: 22px;
        &:after{
          content: none;
        }
      }
      p{
        width: 650px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 2.5;
      }
    }
    .about_flow{
      text-align: center;
      margin-bottom: 30px;
      img{
        width: 506px;
      }
    }
    .experience{
      width: 1000px;
      margin: 0 auto 100px;
      .experience_copy{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #7d7d7d;
        margin-bottom: 40px;
      }
      .experience_pc_img{
        text-align: center;
        display: block;
        img{
          width: 80%;
          margin: 0 auto;
        }
      }
      .experience_sp_img{
        display: none;
      }
    }
    .review{
      background: #F8F8F8;
      padding: 60px 0 100px;
      ul{
        width: 1000px;
        margin: 0 auto;
        height: 410px;
        .review_cell{
          width: 300px;
          height: 410px;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px -1px grey;
          .review_img{
            height: 200px;
            object-fit: cover;
            width: 100%;
            border-radius: 8px 8px 0 0;
          }
          .review_profile{
            position: absolute;
            text-shadow: 2px 2px 2px #000;
            top: 160px;
            right: 10px;
            color: #fff;
            margin: 0;
            font-size: 13px;
            .text01{
              font-size: 10px;
            }
            .text02{
              font-size: 11px;
            }
          }
          .review_text{
            padding: 17px;
            h3{
              font-size: 13px;
              font-weight: bold;
              margin: 0;
              margin-bottom: 10px;
            }
            p{
              font-size: 12px;
              margin: 0;
              line-height: 1.6;
            }
          }
        }
      }
    }
  }
}
