article{
  .admin{
    h1{
      background: #252b34;
      color: #fff;
      font-size: 18px;
      padding: 10px 20px;
      margin: 0;
    }
    .contents{
      width: 100%;
      box-sizing: border-box;
      .nav_toggle_button{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px 0;
        width: 100%;
        background: #2279D1;
        color: #fff;
        text-align: center;
      }
      .ownerpage_nav{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: #2d343e;
        ul{
          li{
            a{
              display: block;
              font-size: 13px;
              color: #fff;
              padding: 20px 20px;
            }
            .selected{
              background: #596a7a;
              font-weight: bold;
            }
          }
        }
      }
      .close_button{
        display: none;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: #fff;
        background: #2279D1;
        z-index: 30000;
      }
      .admin_contents{
        width: 100%;
        .owner_wait{
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #2279D1;
        }
        .owner_wait_condition{
          font-size: 28px;
          text-align: center;
          font-weight: bold;
          margin-bottom: 30px;
          color: #2279D1;
        }
        .car_list_inner{
          display: inline-block;
          .car_list_box{
            margin-bottom: 70px;
            .car_list_link{
              display: block;
              .h2_box{
                display: -webkit-flex;
                display: flex;
                height: 50px;
                p{
                  width: 30%;
                  background: #2279D1;
                  color: #fff;
                  font-size: 13px;
                  text-align: center;
                  padding: 18px 0;
                }
                h2{
                  width: 70%;
                  text-align: left;
                  background: #E5E5E5;
                  color: #3C3C3C;
                  font-size: 13px;
                  font-weight: bold;
                  padding: 15px 0 15px 20px;
                  margin: 0;
                  &:after{
                    content: none;
                  }
                  span{
                    font-size: 11px;
                    margin-left: 20px;
                  }
                }
              }
              .car_list_img{
                img{
                  width: 100%;
                }
              }
            }
            .shop_info{
              border-bottom: 1px solid #707070;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              padding: 15px 5px;
              margin-bottom: 20px;
              p{
                color: #3C3C3C;
                font-size: 12px;
                font-weight: bold;
                a{
                  margin-left: 10px;
                  color: #1111CC;
                  text-decoration: underline;
                }
              }
              span{
                font-size: 14px;
              }
            }
            .option_list{
              display: -webkit-flex;
              display: flex;
              margin-bottom: 20px;
              li{
                font-size: 12px;
                font-weight: bold;
                margin-right: 15px;
                padding-left: 5px;
                border-left: 10px solid #2279D1;
              }
            }
            .edit_car{
              text-align: right;
              .edit_car_link{
                display: inline-block;
                text-align: center;
                background: #2279D1;
                padding: 15px 70px;
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
              }
            }
          }
        }
        .revenue{
          .revenue_select{
            display: -webkit-flex;
            display: flex;
            margin-bottom: 30px;
            border-bottom: 2px solid #939393;
            li{
              margin-right: 20px;
              padding: 20px;
              color: #3C3C3C;
              a{
                color: #3C3C3C;
              }
            }
            .selected{
              color: #2279D1;
              font-weight: bold;
            }
          }
          .total_revenue{
            margin-left: 3%;
            width: 97%;
            border-bottom: 2px solid #939393;
            margin-bottom: 40px;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding: 0 20px 20px 20px;
            box-sizing: border-box;
            p{
              color: #2279D1;
              font-weight: bold;
              font-size: 30px;
            }
            span{
              color: #3C3C3C;
              font-weight: bold;
              font-size: 18px;
              margin-top: 3px;
            }
          }
          .revenue_list{
            margin-left: 7%;
            width: 93%;
            li{
              border-bottom: 1px solid #D2D2D2;
              padding: 0 20px 15px 20px;
              box-sizing: border-box;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              margin-bottom: 20px;
              .revenue_list_money{
                font-size: 16px;
                color: #2279D1;
                font-weight: bold;
                margin-right: 40px;
              }
              .revenue_list_info{
                .car_link{
                  margin-right: 20px;
                  text-decoration: underline;
                  color: #2279D1;
                  font-size: 13px;
                }
                span{
                  margin-right: 20px;
                  font-size: 13px;
                }
                .resereve_link{
                  border-radius: 4px;
                  padding: 8px 18px;
                  background: #2279D1;
                  color: #fff;
                  font-size: 13px;
                }
              }
            }
          }
        }
        .performance{
          ul{
            li{
              padding: 25px 30px;
              border-left: 10px solid #ddd;
              margin-bottom: 30px;
              .performance_title{
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                margin-bottom: 15px;
                a{
                  text-decoration: underline;
                  color: #2279D1;
                  font-weight: bold;
                  font-size: 14px;
                }
                p{
                  font-size: 14px;
                  color: #3C3C3C;
                }
              }
              .performance_money{
                text-align: right;
                font-size: 13px;
                color: #2279D1;
                font-weight: bold;
                padding-bottom: 20px;
                border-bottom: 1px solid #D2D2D2;
              }
              .performance_info{
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                padding: 20px 0 0;
                .guest_img{
                  margin-right: 20px;
                  img{
                    width: 70px;
                    height: 70px;
                  }
                }
                .guest_name{
                  width: 60%;
                  margin-top: 9px;
                  a{
                    text-decoration: underline;
                    color: #2279D1;
                    font-weight: bold;
                    font-size: 14px;
                    margin-bottom: 20px;
                    display: inline-block;
                  }
                  p{
                    font-size: 13px;
                    span{
                      color: #2279D1;
                      font-weight: bold;
                    }
                  }
                }
                .reserve_info{
                  margin-top: 42px;
                  a{
                    color: #fff;
                    background: #2279D1;
                    padding: 12px 70px;
                    border-radius: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .admin{
      h1{
        background: #252b34;
        color: #fff;
        font-size: 18px;
        padding: 20px 40px;
        margin: 0;
      }
      .contents{
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        .nav_toggle_button{
          display: none;
        }
        .ownerpage_nav{
          width: 20%;
          background: #2d343e;
          height: auto;
          display: block;
          position: static;
          ul{
            li{
              a{
                display: block;
                font-size: 13px;
                color: #fff;
                padding: 20px 20px;
              }
              .selected{
                background: #596a7a;
                font-weight: bold;
              }
            }
          }
        }
        .admin_contents{
          width: 80%;
          background: #f3f3f3;
          h2{
            margin: 0;
            width: 100%;
            padding: 20px 30px;
            font-size: 20px;
            text-align: left;
            color: #2d343e;
            background: #fff;
            box-sizing: border-box;
            &:after{
              content: none;
            }
          }
          .admin_contents_inner{
            padding: 30px;
            .license_lists{
              table{
                width: 100%;
                background: #fff;
                color: #2d343e;
                thead{
                  tr{
                    height: 50px;
                    font-size: 18px;
                    text-align: left;
                    th{
                      padding: 0 0 0 20px;
                      border-bottom: 2px solid #ddd;
                      img{
                        height: 100%;
                      }
                    }
                  }
                }
                tbody{
                  tr{
                    height: 45px;
                    td{
                      padding: 0 0 0 20px;
                      border-bottom: 1px solid #ddd;
                      img{
                        height: 45px;
                      }
                    }
                  }
                }
              }
            }
            .store_lists{
              table{
                width: 100%;
                background: #fff;
                color: #2d343e;
                thead{
                  tr{
                    height: 50px;
                    font-size: 18px;
                    text-align: left;
                    th{
                      padding: 0 0 0 20px;
                      border-bottom: 2px solid #ddd;
                    }
                  }
                }
                tbody{
                  tr{
                    height: 45px;
                    td{
                      padding: 0 0 0 20px;
                      border-bottom: 1px solid #ddd;
                    }
                  }
                }
              }
            }
            .admin_user{
              table{
                width: 100%;
                background: #fff;
                color: #2d343e;
                thead{
                  tr{
                    height: 50px;
                    font-size: 18px;
                    text-align: left;
                    th{
                      padding: 0 0 0 20px;
                      border-bottom: 2px solid #ddd;
                    }
                  }
                }
                tbody{
                  tr{
                    height: 45px;
                    td{
                      padding: 0 0 0 20px;
                      border-bottom: 1px solid #ddd;
                    }
                  }
                }
              }
            }
          }
          .admin_reservelists{
            table{
              width: 100%;
              background: #fff;
              color: #2d343e;
              thead{
                tr{
                  height: 50px;
                  font-size: 18px;
                  text-align: left;
                  th{
                    padding: 0 0 0 20px;
                    border-bottom: 2px solid #ddd;
                  }
                }
              }
              tbody{
                tr{
                  height: 45px;
                  td{
                    padding: 0 0 0 20px;
                    border-bottom: 1px solid #ddd;
                  }
                }
              }
            }
          }
          .owner_wait{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
            color: #2279D1;
          }
          .owner_wait_condition{
            font-size: 28px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
            color: #2279D1;
          }
          .car_list_inner{
            display: inline-block;
            .car_list_box{
              margin-bottom: 70px;
              .car_list_link{
                display: block;
                .h2_box{
                  display: -webkit-flex;
                  display: flex;
                  height: 50px;
                  p{
                    width: 30%;
                    background: #2279D1;
                    color: #fff;
                    font-size: 13px;
                    text-align: center;
                    padding: 18px 0;
                  }
                  h2{
                    width: 70%;
                    text-align: left;
                    background: #E5E5E5;
                    color: #3C3C3C;
                    font-size: 13px;
                    font-weight: bold;
                    padding: 15px 0 15px 20px;
                    margin: 0;
                    &:after{
                      content: none;
                    }
                    span{
                      font-size: 11px;
                      margin-left: 20px;
                    }
                  }
                }
                .car_list_img{
                  img{
                    width: 100%;
                  }
                }
              }
              .shop_info{
                border-bottom: 1px solid #707070;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                padding: 15px 5px;
                margin-bottom: 20px;
                p{
                  color: #3C3C3C;
                  font-size: 12px;
                  font-weight: bold;
                  a{
                    margin-left: 10px;
                    color: #1111CC;
                    text-decoration: underline;
                  }
                }
                span{
                  font-size: 14px;
                }
              }
              .option_list{
                display: -webkit-flex;
                display: flex;
                margin-bottom: 20px;
                li{
                  font-size: 12px;
                  font-weight: bold;
                  margin-right: 15px;
                  padding-left: 5px;
                  border-left: 10px solid #2279D1;
                }
              }
              .edit_car{
                text-align: right;
                .edit_car_link{
                  display: inline-block;
                  text-align: center;
                  background: #2279D1;
                  padding: 15px 70px;
                  border-radius: 4px;
                  color: #fff;
                  font-size: 14px;
                  font-weight: bold;
                }
              }
            }
          }
          .revenue{
            .revenue_select{
              display: -webkit-flex;
              display: flex;
              margin-bottom: 30px;
              border-bottom: 2px solid #939393;
              li{
                margin-right: 20px;
                padding: 20px;
                color: #3C3C3C;
                a{
                  color: #3C3C3C;
                }
              }
              .selected{
                color: #2279D1;
                font-weight: bold;
              }
            }
            .total_revenue{
              margin-left: 3%;
              width: 97%;
              border-bottom: 2px solid #939393;
              margin-bottom: 40px;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              padding: 0 20px 20px 20px;
              box-sizing: border-box;
              p{
                color: #2279D1;
                font-weight: bold;
                font-size: 30px;
              }
              span{
                color: #3C3C3C;
                font-weight: bold;
                font-size: 18px;
                margin-top: 3px;
              }
            }
            .revenue_list{
              margin-left: 7%;
              width: 93%;
              li{
                border-bottom: 1px solid #D2D2D2;
                padding: 0 20px 15px 20px;
                box-sizing: border-box;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                margin-bottom: 20px;
                .revenue_list_money{
                  font-size: 16px;
                  color: #2279D1;
                  font-weight: bold;
                  margin-right: 40px;
                }
                .revenue_list_info{
                  .car_link{
                    margin-right: 20px;
                    text-decoration: underline;
                    color: #2279D1;
                    font-size: 13px;
                  }
                  span{
                    margin-right: 20px;
                    font-size: 13px;
                  }
                  .resereve_link{
                    border-radius: 4px;
                    padding: 8px 18px;
                    background: #2279D1;
                    color: #fff;
                    font-size: 13px;
                  }
                }
              }
            }
          }
          .performance{
            ul{
              li{
                padding: 25px 30px;
                border-left: 10px solid #ddd;
                margin-bottom: 30px;
                .performance_title{
                  display: -webkit-flex;
                  display: flex;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  margin-bottom: 15px;
                  a{
                    text-decoration: underline;
                    color: #2279D1;
                    font-weight: bold;
                    font-size: 14px;
                  }
                  p{
                    font-size: 14px;
                    color: #3C3C3C;
                  }
                }
                .performance_money{
                  text-align: right;
                  font-size: 13px;
                  color: #2279D1;
                  font-weight: bold;
                  padding-bottom: 20px;
                  border-bottom: 1px solid #D2D2D2;
                }
                .performance_info{
                  display: -webkit-flex;
                  display: flex;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  padding: 20px 0 0;
                  .guest_img{
                    margin-right: 20px;
                    img{
                      width: 70px;
                      height: 70px;
                    }
                  }
                  .guest_name{
                    width: 60%;
                    margin-top: 9px;
                    a{
                      text-decoration: underline;
                      color: #2279D1;
                      font-weight: bold;
                      font-size: 14px;
                      margin-bottom: 20px;
                      display: inline-block;
                    }
                    p{
                      font-size: 13px;
                      span{
                        color: #2279D1;
                        font-weight: bold;
                      }
                    }
                  }
                  .reserve_info{
                    margin-top: 42px;
                    a{
                      color: #fff;
                      background: #2279D1;
                      padding: 12px 70px;
                      border-radius: 6px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
