body{
  margin-bottom: 68px;
  #flash_notice{
    background: #c8ffcc;
    color: #306314;
    padding: 15px;
    position: fixed;
    top: 99px;
    width: 100%;
    z-index: 100;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #5cb743;
  }
}
article{
  .car_header{
    width: 100%;
    .car_img{
      height: 300px;
      width: 100%;
      img{
        height: 300px;
      }
    }
    .h1_box{
      width: 100%;
      background: #E5E5E5;
      margin-bottom: 20px;
      .h1_box_inner{
        width: 100%;
        h1{
          margin: 0;
          background: #2279D1;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          padding: 14px 20px;
          span{
            margin-left: 20px;
            font-size: 13px;
          }
        }
        .h1_car_money{
          color: #fff;
          background: #3a414c;
          font-size: 14px;
          font-weight: bold;
          padding: 12px 20px;
          span{
            color: #c1c1c1;
            margin-left: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .contents{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    .car_info{
      .shop_info{
        border-bottom: 1px solid #707070;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 15px 5px;
        margin-bottom: 20px;
        p{
          color: #3C3C3C;
          font-size: 12px;
          font-weight: bold;
          a{
            margin-left: 10px;
            color: #1111CC;
            text-decoration: underline;
          }
        }
        span{
          font-size: 14px;
        }
      }
      .option_list{
        display: -webkit-flex;
        display: flex;
        margin-bottom: 20px;
        li{
          font-size: 12px;
          font-weight: bold;
          margin-right: 15px;
          padding-left: 5px;
          border-left: 10px solid #2279D1;
        }
      }
      .owner_info{
        background: #F8F8F8;
        padding: 10px;
        margin-bottom: 20px;
        .owner_img{
          margin: 10px 10px 10px 0;
          float: left;
          img{
            width: 40px;
          }
        }
        .owner_name_box{
          margin: 6px 0 10px;
          font-size: 11px;
          color: #3C3C3C;
          .owner_name{
            font-weight: bold;
            margin-bottom: 5px;
          }
          span{
            font-size: 11px;
            font-weight: bold;
            margin: 6px 0;
            display: inline-block;
          }
        }
        .owner_description{
          font-size: 11px;
          margin: 6px 0;
          line-height: 1.4;
        }
      }
      .car_description{
        border: 1px solid #BCBCBC;
        padding: 20px;
        margin-bottom: 30px;
        h2{
          margin: 0 0 10px 0;
          color: #2279D1;
          font-size: 13px;
          padding: 0;
          text-align: left;
          &:after{
            content: none;
          }
        }
        p{
          color: #4E4E4E;
          line-height: 1.7;
          font-size: 12px;
        }
      }
      .car_review{
        margin-bottom: 60px;
        h2{
          margin: 0 0 10px 0;
          color: #3C3C3C;
          font-size: 14px;
          padding: 0;
          text-align: left;
          &:after{
            content: none;
          }
        }
        .car_review_list{
          li{
            color: #3C3C3C;
            padding: 10px 0;
            border-bottom: 1px dashed #BCBCBC;
            .reviewer_img{
              float: left;
              margin: 10px 10px 10px 0;
              img{
                width: 30px;
              }
            }
            .reviewer_info_box{
              margin-bottom: 10px;
              font-size: 11px;
              .reviewer_name{
                font-weight: bold;
                margin-bottom: 6px;
                span{
                  font-size: 10px;
                }
              }
              .reviewer_info{
                font-size: 10px;
                margin-bottom: 6px;
                span{
                  margin-right: 5px;
                }
              }
              .review_day{
                font-size: 10px;
              }
            }
            .reviewer_text{
              font-size: 10px;
              line-height: 1.4;
            }
          }
        }
      }
      .car_page_map{
        background: #F8F8F8;
        padding: 20px;
        margin-bottom: 30px;
        h2{
          margin: 0;
          padding: 0;
          color: #4E4E4E;
          font-size: 13px;
          margin-bottom: 10px;
          text-align: left;
          &:after{
            content: none;
          }
        }
        .shop_link{
          margin-bottom: 7px;
          a{
            color: #2279D1;
            font-size: 13px;
          }
        }
        .shop_address{
          color: #4E4E4E;
          font-size: 12px;
          margin-bottom: 15px;
        }
        .map_img{
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .car_list{
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    h2{
      margin: 0;
      padding: 0;
      color: #4E4E4E;
      font-size: 16px;
      margin-bottom: 20px;
      text-align: left;
      &:after{
        content: none;
      }
    }
    .car_list_inner{
      display: inline-block;
      width: 100%;
      .car_list_box{
        margin-bottom: 50px;
        .car_list_link{
          display: block;
          .h2_box{
            display: -webkit-flex;
            display: flex;
            height: 50px;
            p{
              width: 23%;
              background: #2279D1;
              color: #fff;
              font-size: 11px;
              text-align: center;
              padding: 18px 0;
            }
            h2{
              width: 77%;
              text-align: left;
              background: #E5E5E5;
              color: #3C3C3C;
              font-size: 12px;
              font-weight: bold;
              padding: 15px 0 15px 20px;
              margin: 0;
              &:after{
                content: none;
              }
              span{
                font-size: 11px;
                margin-left: 20px;
              }
            }
          }
          .car_list_img{
            img{
              width: 100%;
            }
          }
        }
        .shop_info{
          border-bottom: 1px solid #707070;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding: 15px 5px;
          margin-bottom: 20px;
          p{
            color: #3C3C3C;
            font-size: 12px;
            font-weight: bold;
            a{
              margin-left: 10px;
              color: #1111CC;
              text-decoration: underline;
            }
          }
          span{
            font-size: 14px;
          }
        }
        .option_list{
          display: -webkit-flex;
          display: flex;
          margin-bottom: 20px;
          li{
            font-size: 12px;
            font-weight: bold;
            margin-right: 15px;
            padding-left: 5px;
            border-left: 10px solid #2279D1;
          }
        }
        .owner_info{
          background: #F8F8F8;
          padding: 10px;
          margin-bottom: 20px;
          .owner_img{
            margin: 10px 10px 10px 0;
            float: left;
            img{
              width: 30px;
            }
          }
          .owner_name_box{
            margin: 6px 0;
            font-size: 12px;
            color: #3C3C3C;
            .owner_name{
              font-weight: bold;
              margin-bottom: 5px;
            }
            span{
              font-size: 11px;
              font-weight: bold;
              margin: 6px 0;
              display: inline-block;
            }
          }
          .owner_description{
            font-size: 12px;
            margin: 6px 0;
            line-height: 1.4;
          }
        }
        .car_review{
          display: none;
        }
      }
    }
  }
  .contents_bottom{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    p{
      background: #2279D1;
      color: #fff;
      padding: 15px;
      font-size: 13px;
    }
    ul{
      display: inline-block;
      background: #F8F8F8;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      li{
        width: 22%;
        float: left;
        margin-right: 5px;
        margin-bottom: 10px;
        padding-left: 15px;
        position: relative;
        a{
          color: #2279D1;
          font-size: 12px;
          font-weight: bold;
          text-decoration: underline;
        }
        &:before{
          content: "";
          position: absolute;
          top: 4px;
          left: 1px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 7px solid #2279D1;
        }
        &:nth-child(6n){
          margin-right: 0;
        }
      }
    }
  }
  .reserve_box{
    display: none;
  }
  .reserve_box_sp{
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    padding: 8px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    .reserve_box_sp_inner{
      font-size: 15px;
      padding: 18px;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      font-weight: bold;
      background: #FF7900;
    }
  }
  .reserve_toggle_box{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 30000;
    background: #fff;
    padding-top: 30px;
    .reserve_money{
      padding: 60px 15px 8px 15px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 3px solid #2c79d0;
    }
    .reserve_info{
      background: #fff;
      padding: 20px 15px;
      .reserve_info_title{
        color: #2c79d0;
      }
      .reserve_day_text{
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: bold;
        color: #4E4E4E;
      }
      input{
        border: 1px solid #DEDEDE;
        padding: 10px;
        margin-bottom: 10px;
      }
      .reserve_button{
        background: #2279D1;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        border-radius: 60px;
        padding: 15px;
        display: block;
        margin-bottom: 20px;
      }
      .reserve_detail{
        color: #4E4E4E;
        font-size: 11px;
        text-align: center;
        line-height: 1.6;
      }
      .not_login{
        .not_login_title{
          font-size: 15px;
          text-align: center;
          font-weight: bold;
          margin: 10px 0 25px;
          color: #FF7900;
        }
        .not_login_text{
          font-size: 14px;
          text-align: center;
          margin-bottom: 10px;
        }
        a{
          background: #2279D1;
          color: #fff;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          border-radius: 8px;
          padding: 15px;
          display: block;
          margin-bottom: 30px;
        }
      }
    }
  }
  #close_area{
    display: none;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30000;
    &:after{
      position: absolute;
      content: "×";
      width: 30px;
      height: 30px;
      top: 0px;
      left: 0px;
      color: #2279D1;
      font-size: 35px;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  #flash_notice{
    background: #c8ffcc;
    color: #306314;
    padding: 15px;
    position: fixed;
    top: 99px;
    width: 100%;
    z-index: 100;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #5cb743;
  }
  article{
    .car_header{
      width: 100%;
      .car_img{
        height: 450px;
        width: 100%;
        img{
          height: 450px;
        }
      }
      .h1_box{
        width: 100%;
        background: #E5E5E5;
        margin-bottom: 30px;
        .h1_box_inner{
          width: 1000px;
          margin: 0 auto;
          display: -webkit-flex;
          display: flex;
          h1{
            width: 50%;
            margin: 0;
            background: #2279D1;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding: 20px 30px;
            span{
              margin-left: 50px;
              font-size: 14px;
            }
          }
          .h1_car_money{
            width: 25%;
            color: #fff;
            background: #3a414c;
            font-size: 18px;
            font-weight: bold;
            padding: 20px;
            span{
              color: #c1c1c1;
              margin-left: 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .contents{
      width: 1000px;
      margin: 0 auto 100px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .car_info{
        width: 70%;
        .shop_info{
          border-bottom: 1px solid #707070;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding: 15px 5px;
          margin-bottom: 20px;
          p{
            color: #3C3C3C;
            font-size: 12px;
            font-weight: bold;
            a{
              margin-left: 10px;
              color: #1111CC;
              text-decoration: underline;
            }
          }
          span{
            font-size: 14px;
          }
        }
        .option_list{
          display: -webkit-flex;
          display: flex;
          margin-bottom: 20px;
          li{
            font-size: 12px;
            font-weight: bold;
            margin-right: 15px;
            padding-left: 5px;
            border-left: 10px solid #2279D1;
          }
        }
        .owner_info{
          background: #F8F8F8;
          padding: 10px 15px;
          display: -webkit-flex;
          display: flex;
          margin-bottom: 20px;
          .owner_img{
            margin-right: 20px;
            img{
              width: 60px;
            }
          }
          .owner_name_box{
            border-right: 1px solid #C4C4C4;
            padding: 0 20px 0 0;
            margin: 6px 0;
            font-size: 12px;
            color: #3C3C3C;
            .owner_name{
              font-weight: bold;
              margin-bottom: 5px;
            }
            span{
              font-size: 11px;
              font-weight: bold;
              margin: 6px 0;
              display: inline-block;
            }
          }
          .owner_description{
            font-size: 12px;
            margin: 6px 0;
            padding-left: 20px;
            line-height: 1.4;
          }
        }
        .car_description{
          border: 1px solid #BCBCBC;
          padding: 25px;
          margin-bottom: 30px;
          h2{
            margin: 0 0 10px 0;
            color: #2279D1;
            font-size: 14px;
            padding: 0;
            text-align: left;
            &:after{
              content: none;
            }
          }
          p{
            color: #4E4E4E;
            line-height: 1.7;
            font-size: 13px;
          }
        }
        .car_review{
          margin-bottom: 60px;
          h2{
            margin: 0 0 10px 0;
            color: #3C3C3C;
            font-size: 14px;
            padding: 0;
            text-align: left;
            &:after{
              content: none;
            }
          }
          .car_review_list{
            li{
              color: #3C3C3C;
              padding: 10px 15px;
              display: -webkit-flex;
              display: flex;
              border-bottom: 1px dashed #BCBCBC;
              .reviewer_img{
                margin-right: 20px;
                img{
                  width: 50px;
                }
              }
              .reviewer_info_box{
                width: 150px;
                margin-right: 20px;
                font-size: 12px;
                .reviewer_name{
                  font-weight: bold;
                  margin-bottom: 6px;
                  span{
                    font-size: 10px;
                  }
                }
                .reviewer_info{
                  font-size: 10px;
                  margin-bottom: 6px;
                  span{
                    margin-right: 5px;
                  }
                }
                .review_day{
                  font-size: 10px;
                }
              }
              .reviewer_text{
                font-size: 11px;
                line-height: 1.4;
                width: 85%;
              }
            }
          }
        }
        .car_page_map{
          background: #F8F8F8;
          padding: 30px 30px 40px;
          h2{
            margin: 0;
            padding: 0;
            color: #4E4E4E;
            font-size: 14px;
            margin-bottom: 20px;
            text-align: left;
            &:after{
              content: none;
            }
          }
          .shop_link{
            margin-bottom: 7px;
            a{
              color: #2279D1;
              font-size: 13px;
            }
          }
          .shop_address{
            color: #4E4E4E;
            font-size: 12px;
            margin-bottom: 15px;
          }
          .map_img{
            img{
              width: 100%;
            }
          }
        }
      }
      .reserve_box{
        display: block;
        width: 25%;
        top: 119px;
        height: 500px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px -1px grey;
        border-radius: 8px;
        .reserve_money{
          background: #2279D1;
          color: #fff;
          border-radius: 8px 8px 0 0;
          padding: 15px;
        }
        .reserve_info{
          background: #fff;
          padding: 20px 15px;
          .reserve_info_title{
            color: #2279D1;
          }
          input{
            margin-bottom: 10px;
          }
          select.time{
            width: 60px;
          }
          .reserve_button{
            background: #2279D1;
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            border-radius: 60px;
            padding: 15px;
            display: block;
            margin-bottom: 20px;
          }
          .reserve_detail{
            color: #4E4E4E;
            font-size: 11px;
            text-align: center;
            line-height: 1.6;
          }
          .not_login{
            .not_login_title{
              font-size: 15px;
              text-align: center;
              font-weight: bold;
              margin: 20px 0 30px;
              color: #FF7900;
              line-height: 1.3;
            }
            .not_login_text{
              font-size: 12px;
              text-align: center;
              margin-bottom: 10px;
            }
            a{
              background: #2279D1;
              color: #fff;
              text-align: center;
              font-size: 14px;
              font-weight: bold;
              border-radius: 8px;
              padding: 15px;
              display: block;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    .car_list{
      width: 1000px;
      margin: 0 auto 60px;
      h2{
        margin: 0;
        padding: 0;
        color: #4E4E4E;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: left;
        &:after{
          content: none;
        }
      }
      .car_list_inner{
        display: inline-block;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        .car_list_box{
          margin-bottom: 50px;
          width: 48%;
          .car_list_link{
            display: block;
            .h2_box{
              display: -webkit-flex;
              display: flex;
              height: 50px;
              p{
                width: 23%;
                background: #2279D1;
                color: #fff;
                font-size: 11px;
                text-align: center;
                padding: 18px 0;
              }
              h2{
                width: 77%;
                text-align: left;
                background: #E5E5E5;
                color: #3C3C3C;
                font-size: 12px;
                font-weight: bold;
                padding: 15px 0 15px 20px;
                margin: 0;
                &:after{
                  content: none;
                }
                span{
                  font-size: 11px;
                  margin-left: 20px;
                }
              }
            }
            .car_list_img{
              img{
                width: 100%;
              }
            }
          }
          .shop_info{
            border-bottom: 1px solid #707070;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding: 15px 5px;
            margin-bottom: 20px;
            p{
              color: #3C3C3C;
              font-size: 12px;
              font-weight: bold;
              a{
                margin-left: 10px;
                color: #1111CC;
                text-decoration: underline;
              }
            }
            span{
              font-size: 14px;
            }
          }
          .option_list{
            display: -webkit-flex;
            display: flex;
            margin-bottom: 20px;
            li{
              font-size: 12px;
              font-weight: bold;
              margin-right: 15px;
              padding-left: 5px;
              border-left: 10px solid #2279D1;
            }
          }
          .owner_info{
            background: #F8F8F8;
            padding: 10px 15px;
            display: -webkit-flex;
            display: flex;
            margin-bottom: 20px;
            .owner_img{
              margin-right: 20px;
              img{
                width: 60px;
              }
            }
            .owner_name_box{
              border-right: 1px solid #C4C4C4;
              padding: 0 20px 0 0;
              margin: 6px 0;
              font-size: 12px;
              color: #3C3C3C;
              .owner_name{
                font-weight: bold;
                margin-bottom: 5px;
              }
              span{
                font-size: 11px;
                font-weight: bold;
                margin: 6px 0;
                display: inline-block;
              }
            }
            .owner_description{
              font-size: 12px;
              margin: 6px 0;
              padding-left: 20px;
              line-height: 1.4;
            }
          }
          .car_review{
            h3{
              margin: 0 0 10px 0;
              color: #3C3C3C;
              font-size: 14px;
            }
            .car_review_list{
              li{
                color: #3C3C3C;
                padding: 10px 15px;
                display: -webkit-flex;
                display: flex;
                border-bottom: 1px dashed #BCBCBC;
                .reviewer_img{
                  margin-right: 20px;
                  img{
                    width: 50px;
                  }
                }
                .reviewer_info_box{
                  width: 150px;
                  margin-right: 20px;
                  font-size: 12px;
                  .reviewer_name{
                    font-weight: bold;
                    margin-bottom: 6px;
                    span{
                      font-size: 10px;
                    }
                  }
                  .reviewer_info{
                    font-size: 10px;
                    margin-bottom: 6px;
                    span{
                      margin-right: 5px;
                    }
                  }
                  .review_day{
                    font-size: 10px;
                  }
                }
                .reviewer_text{
                  font-size: 11px;
                  line-height: 1.4;
                  width: 85%;
                }
              }
            }
          }
        }
      }
    }
    .contents_bottom{
      width: 1000px;
      margin: 0 auto 80px;
      p{
        background: #2279D1;
        color: #fff;
        padding: 15px;
        font-size: 14px;
      }
      ul{
        display: inline-block;
        background: #F8F8F8;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        li{
          width: 13%;
          float: left;
          margin-right: 5px;
          margin-bottom: 15px;
          padding-left: 15px;
          position: relative;
          a{
            color: #2279D1;
            font-size: 13px;
            font-weight: bold;
            text-decoration: underline;
          }
          &:before{
            content: "";
            position: absolute;
            top: 4px;
            left: 1px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #2279D1;
          }
          &:nth-child(6n){
            margin-right: 0;
          }
        }
      }
    }
  }
  .reserve_box_sp{
    display: none;
  }
  .reserve_toggle_box{
    display: none;
  }
  #close_area{
    display: none;
  }
}
