article{
  .search_term{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px 20px;
    position: fixed;
    margin-top: 30px;
    background: #fff;
    box-sizing: border-box;
    z-index: 50;
    #back_area{
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      z-index: 19999;
      background: #000;
      opacity: 0.5;
    }
    .search_term_p{
      font-size: 12px;
      color: #3C3C3C;
      font-weight: bold;
      margin-right: 10px;
    }
    span{
      border-radius: 4px;
      margin-right: 5px;
      padding: 6px 8px;
      font-size: 10px;
    }
    .selected{
      background: #2279D1;
      color: #fff;
    }
    .none_select{
      background: #fff;
      color: #4E4E4E;
      border: 1px solid #4E4E4E;
    }
    .toggle_box{
      display: none;
      position: fixed;
      width: 90%;
      height: 80%;
      margin: 0 auto;
      box-sizing: border-box;
      z-index: 20000;
      top: 10%;
      padding: 60px 20px 30px;
      background: #fff;
      a{
        font-size: 13px;
        margin-right: 15px;
        color: #2279D1;
        text-decoration: underline;
        margin-bottom: 10px;
      }
      .search_button{
        background: #2279D1;
        color: #fff;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        margin: 20px 0;
        display: inline-block;
        text-decoration: none;
        border-radius: 6px;
      }
      label{
        cursor: pointer;
        padding:5px 10px;
        color: #4E4E4E;
        border: 1px solid #4E4E4E;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
      }
      input{
        display: none;
      }
      input:checked + label {
        background: #2279D1;
        color: #fff;
      }
    }
    .area_box{
      a{
        position: relative;
        padding-left: 15px;
        font-weight: bold;
        display: inline-block;
        &:before{
          content: "";
          position: absolute;
          top: 1px;
          left: 2px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 7px solid #2279D1;
        }
      }
    }
    .category_box{
      .category{
        display: inline-block;
      }
    }
    .option_box{
      .option{
        display: inline-block;
      }
    }
    .time_box{
      .time_box_title{
        font-weight: bold;
        margin-bottom: 5px;
        color: #4E4E4E;
      }
      select{
        height: 30px;
        font-size: 14px;
        border: 1px solid #000;
        margin-bottom: 10px;
      }
    }
  }
  .contents{
    padding: 84px 20px 0;
    .car_list{
      margin-top: 20px;
      .h1_box{
        border-bottom: 1px solid #707070;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding-bottom: 6px;
        margin-bottom: 20px;
        h1{
          font-size: 13px;
          color: #2279D1;
          line-height: 1.4;
          font-weight: bold;
          margin: 10px 10px 0 0;
        }
        .car_number{
          text-align: right;
          color: #656565;
          font-size: 11px;
          margin-top: 8px;
          line-height: 1.4;
          span{
            color: #2279D1;
            font-size: 14px;
            font-weight: bold;
            margin: 0 5px;
          }
        }
      }
      .car_list_inner{
        display: inline-block;
        width: 100%;
        .car_list_box{
          margin-bottom: 50px;
          .h2_box{
            display: -webkit-flex;
            display: flex;
            p{
              width: 30%;
              background: #2279D1;
              color: #fff;
              font-size: 10px;
              font-weight: bold;
              text-align: center;
              padding: 16px 4px;
            }
            h2{
              width: 70%;
              text-align: left;
              background: #E5E5E5;
              color: #3C3C3C;
              font-size: 12px;
              font-weight: bold;
              padding: 10px;
              margin: 0;
              &:after{
                content: none;
              }
              span{
                font-size: 11px;
                margin-left: 15px;
                font-weight: normal;
              }
            }
          }
          .car_list_img{
            li{
              img{
                height: 200px;
              }
            }

          }
          .shop_info{
            border-bottom: 1px solid #707070;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding: 10px 5px;
            margin-bottom: 15px;
            p{
              color: #3C3C3C;
              font-size: 11px;
              font-weight: bold;
              a{
                margin-left: 10px;
                color: #1111CC;
                text-decoration: underline;
              }
            }
            span{
              font-size: 12px;
            }
          }
          .option_list_title{
            color: #3C3C3C;
            font-size: 12px;
            font-weight: bold;
          }
          .option_list{
            display: -webkit-flex;
            display: flex;
            margin-bottom: 15px;
            margin-left: 5px;
            li{
              font-size: 11px;
              font-weight: bold;
              margin-right: 15px;
              padding-left: 5px;
              border-left: 10px solid #2279D1;
            }
          }
          .owner_info{
            background: #F8F8F8;
            padding: 10px;
            margin-bottom: 15px;
            .owner_img{
              margin: 10px 10px 10px 0;
              float: left;
              img{
                width: 30px;
              }
            }
            .owner_name_box{
              margin: 2px 0;
              font-size: 11px;
              color: #3C3C3C;
              .owner_name{
                font-weight: bold;
                margin-bottom: 5px;
              }
              span{
                font-size: 10px;
                font-weight: bold;
                margin: 6px 0;
                display: inline-block;
              }
            }
            .owner_description{
              font-size: 11px;
              margin: 6px 0;
              line-height: 1.4;
            }
          }
          .car_review{
            display: none;
          }
          .car_list_link{
            display: block;
            width: 100%;
            padding: 15px 20px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 30px;
            background: #FF7900;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
    .map{
      display: none;
      width: 100%;
      .map_container{
        #map{
          width: 100%;
          height: calc(100vh - 230px);
        }
      }
    }
    .toggle_box{
      display: none;
      position: fixed;
      width: 90%;
      height: 100%;
      box-sizing: border-box;
      z-index: 20000;
      top: 140px;
      left: 0;
      right: 0;
      padding: 60px 20px 30px;
      background: #fff;
    }
  }
  #close_area{
    display: none;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 11%;
    right: calc((100vw - 90%) / 2);
    z-index: 30000;
    &:after{
      position: absolute;
      content: "×";
      width: 30px;
      height: 30px;
      top: 0px;
      left: 0px;
      color: #2279D1;
      font-size: 35px;
    }
  }
}
@media screen and (min-width:600px) and (max-width:959px) {
  article{
    .search_term{
      width: 100%;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #D3D3D3;
      padding: 10px 20px;
      position: fixed;
      margin-top: 30px;
      background: #fff;
      box-sizing: border-box;
      z-index: 50;
      .search_term_p{
        font-size: 12px;
        color: #3C3C3C;
        font-weight: bold;
        margin-right: 10px;
      }
      span{
        border-radius: 4px;
        margin-right: 8px;
        padding: 6px 12px;
        font-size: 13px;
      }
      .selected{
        background: #2279D1;
        color: #fff;
      }
      .none_select{
        background: #fff;
        color: #4E4E4E;
        border: 1px solid #4E4E4E;
      }
      .toggle_box{
        display: none;
        position: fixed;
        width: 90%;
        height: 70%;
        box-sizing: border-box;
        z-index: 20000;
        top: 10%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 60px 20px 30px;
        background: #fff;
        a{
          font-size: 13px;
          margin-right: 10px;
          color: #2279D1;
          text-decoration: underline;
          margin-bottom: 10px;
        }
        .search_button{
          background: #2279D1;
          color: #fff;
          padding: 10px 20px;
          display: inline-block;
          text-decoration: none;
          border-radius: 4px;
        }
      }
    }
    .contents{
      padding: 84px 20px 0;
      .car_list{
        margin-top: 20px;
        .h1_box{
          border-bottom: 1px solid #707070;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding-bottom: 6px;
          margin-bottom: 20px;
          h1{
            font-size: 13px;
            color: #2279D1;
            line-height: 1.4;
            font-weight: bold;
            margin: 10px 10px 0 0;
          }
          .car_number{
            text-align: right;
            color: #656565;
            font-size: 11px;
            margin-top: 8px;
            line-height: 1.4;
            span{
              color: #2279D1;
              font-size: 14px;
              font-weight: bold;
              margin: 0 5px;
            }
          }
        }
        .car_list_inner{
          display: inline-block;
          .car_list_box{
            margin-bottom: 50px;
            .h2_box{
              display: -webkit-flex;
              display: flex;
              p{
                width: 30%;
                background: #2279D1;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                padding: 16px 8px;
              }
              h2{
                width: 70%;
                text-align: left;
                background: #E5E5E5;
                color: #3C3C3C;
                font-size: 12px;
                font-weight: bold;
                padding: 10px;
                margin: 0;
                &:after{
                  content: none;
                }
                span{
                  font-size: 11px;
                  margin-left: 15px;
                  font-weight: normal;
                }
              }
            }
            .car_list_img{
              li{
                img{
                  height: 200px;
                }
              }

            }
            .shop_info{
              border-bottom: 1px solid #707070;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              padding: 10px 5px;
              margin-bottom: 15px;
              p{
                color: #3C3C3C;
                font-size: 11px;
                font-weight: bold;
                a{
                  margin-left: 10px;
                  color: #1111CC;
                  text-decoration: underline;
                }
              }
              span{
                font-size: 12px;
              }
            }
            .option_list{
              display: -webkit-flex;
              display: flex;
              margin-bottom: 15px;
              li{
                font-size: 11px;
                font-weight: bold;
                margin-right: 15px;
                padding-left: 5px;
                border-left: 10px solid #2279D1;
              }
            }
            .owner_info{
              background: #F8F8F8;
              padding: 10px 15px;
              display: -webkit-flex;
              display: flex;
              .owner_img{
                margin-right: 10px;
                img{
                  width: 30px;
                }
              }
              .owner_name_box{
                border-right: 1px solid #C4C4C4;
                padding: 0 10px 0 0;
                margin: 2px 0;
                font-size: 11px;
                color: #3C3C3C;
                .owner_name{
                  font-weight: bold;
                  margin-bottom: 5px;
                }
                span{
                  font-size: 10px;
                  font-weight: bold;
                  margin: 6px 0;
                  display: inline-block;
                }
              }
              .owner_description{
                font-size: 11px;
                margin: 6px 0;
                padding-left: 20px;
                line-height: 1.4;
              }
            }
            .car_review{
              display: none;
            }
          }
        }
      }
      .map{
        display: none;
        width: 100%;
        .map_container{
          #map{
            width: 100%;
            height: calc(100vh - 230px);
          }
        }
      }
      .toggle_box{
        display: none;
        position: fixed;
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        z-index: 20000;
        top: 148px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 60px 20px 30px;
        background: #fff;
      }
    }
    #close_area{
      display: none;
      height: 30px;
      width: 30px;
      position: fixed;
      top: 10%;
      right: calc((100vw - 90%) / 2);
      z-index: 30000;
      &:after{
        position: absolute;
        content: "×";
        width: 30px;
        height: 30px;
        top: 0px;
        left: 0px;
        color: #2279D1;
        font-size: 35px;
      }
    }
  }
}
@media screen and (min-width:960px){
  article{
    .search_term{
      width: 100%;
      display: -webkit-flex;
      display: flex;
      border-bottom: 1px solid #D3D3D3;
      padding: 10px 0 10px 100px;
      position: fixed;
      margin-top: 31px;
      background: #fff;
      z-index: 9997;
      .search_term_p{
      font-size: 12px;
      color: #3C3C3C;
      font-weight: bold;
      margin-right: 10px;
      }
      span{
        border-radius: 4px;
        margin-right: 20px;
        padding: 6px 12px;
        font-size: 12px;
      }
      .selected{
        background: #2279D1;
        color: #fff;
      }
      .none_select{
        background: #fff;
        color: #4E4E4E;
        border: 1px solid #4E4E4E;
      }
      .map_toggle{
        display: none;
      }
      .toggle_box{
        display: none;
        position: fixed;
        width: 600px;
        height: calc(100vh - 156px);
        z-index: 20000;
        height: auto;
        top: 145px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: 1px solid #d8d8d8;
        padding: 30px;
        background: #fff;
        a{
          font-size: 13px;
          margin-right: 10px;
          color: #2279D1;
          text-decoration: underline;
          margin-bottom: 10px;
        }
        .search_button{
          background: #2279D1;
          color: #fff;
          padding: 10px 20px;
          display: inline-block;
          text-decoration: none;
          border-radius: 4px;
        }
      }
    }
    .contents{
      padding-top: 79px;
      padding-right: 0;
      padding-left: 80px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .car_list{
        width: 55%;
        margin-top: 20px;
        .h1_box{
          border-bottom: 1px solid #707070;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          padding-bottom: 6px;
          margin-bottom: 20px;
          h1{
            font-size: 15px;
            color: #2279D1;
            font-weight: bold;
            margin: 10px 0 0;
          }
          .car_number{
            text-align: right;
            color: #656565;
            font-size: 14px;
            margin-top: 3px;
            span{
              color: #2279D1;
              font-size: 20px;
              font-weight: bold;
              margin: 0 5px;
            }
          }
        }
        .car_list_inner{
          display: inline-block;
          .car_list_box{
            margin-bottom: 70px;
            .h2_box{
              display: -webkit-flex;
              display: flex;
              height: 50px;
              p{
                width: 30%;
                background: #2279D1;
                color: #fff;
                font-size: 13px;
                text-align: center;
                padding: 18px 0;
              }
              h2{
                width: 70%;
                text-align: left;
                background: #E5E5E5;
                color: #3C3C3C;
                font-size: 13px;
                font-weight: bold;
                padding: 15px 0 15px 20px;
                margin: 0;
                &:after{
                  content: none;
                }
                span{
                  font-size: 11px;
                  margin-left: 20px;
                }
              }
            }
            .car_list_img{
              height: 300px;
              .gallery-cell{
                img{
                  height: 300px;
                }
              }
            }
            .shop_info{
              border-bottom: 1px solid #707070;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              padding: 15px 5px;
              margin-bottom: 20px;
              p{
                color: #3C3C3C;
                font-size: 12px;
                font-weight: bold;
                a{
                  margin-left: 10px;
                  color: #1111CC;
                  text-decoration: underline;
                }
              }
              span{
                font-size: 14px;
              }
            }
            .option_list{
              display: -webkit-flex;
              display: flex;
              margin-bottom: 20px;
              li{
                font-size: 12px;
                font-weight: bold;
                margin-right: 15px;
                padding-left: 5px;
                border-left: 10px solid #2279D1;
              }
            }
            .owner_info{
              background: #F8F8F8;
              padding: 10px 15px;
              display: -webkit-flex;
              display: flex;
              margin-bottom: 20px;
              .owner_img{
                margin-right: 20px;
                img{
                  width: 60px;
                }
              }
              .owner_name_box{
                border-right: 1px solid #C4C4C4;
                padding: 0 20px 0 0;
                margin: 6px 0;
                font-size: 12px;
                color: #3C3C3C;
                .owner_name{
                  font-weight: bold;
                  margin-bottom: 5px;
                }
                span{
                  font-size: 11px;
                  font-weight: bold;
                  margin: 6px 0;
                  display: inline-block;
                }
              }
              .owner_description{
                font-size: 12px;
                margin: 6px 0;
                padding-left: 20px;
                line-height: 1.4;
              }
            }
            .car_review{
              h3{
                margin: 0 0 10px 0;
                color: #3C3C3C;
                font-size: 14px;
              }
              .car_review_list{
                li{
                  color: #3C3C3C;
                  padding: 10px 15px;
                  display: -webkit-flex;
                  display: flex;
                  border-bottom: 1px dashed #BCBCBC;
                  .reviewer_img{
                    margin-right: 20px;
                    img{
                      width: 50px;
                    }
                  }
                  .reviewer_info_box{
                    width: 150px;
                    margin-right: 20px;
                    font-size: 12px;
                    .reviewer_name{
                      font-weight: bold;
                      margin-bottom: 6px;
                      span{
                        font-size: 10px;
                      }
                    }
                    .reviewer_info{
                      font-size: 10px;
                      margin-bottom: 6px;
                      span{
                        margin-right: 5px;
                      }
                    }
                    .review_day{
                      font-size: 10px;
                    }
                  }
                  .reviewer_text{
                    font-size: 11px;
                    line-height: 1.4;
                  }
                }
              }
            }
          }
        }
      }
      .map{
        display: block !important;
        width: 40%;
        height: calc(100vh - 145px);
        top: 145px;
        right: 0;
        .map_container{
          #map{
            width: 100%;
            height: calc(100vh - 145px);
          }
        }
      }
      .toggle_box{
        position: sticky;
        z-index: 0;
        padding: 0;
      }
    }
    #close_area{
      display: none;
      height: 30px;
      width: 30px;
      position: fixed;
      top: 145px;
      right: calc((100vw - 600px) / 2);
      z-index: 30000;
      &:after{
        position: absolute;
        content: "×";
        width: 30px;
        height: 30px;
        top: 0px;
        left: 0px;
        color: #2279D1;
        font-size: 35px;
      }
    }
  }
}
