article{
  .top_header{
    height: 220px;
    width: 100%;
    position: relative;
    img{
      height: 220px;
    }
    .top_header_inner{
      height: 220px;
      margin: 0 auto;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
      }
      h1{
        position: absolute;
        top: 8%;
        left: 23%;
        font-size: 20px;
        line-height: 1.5;
        color: #fff;
      }
    }
  }
  .top_links{
    width: 100%;
    background: #f0f0f0;
    padding: 40px 20px 30px;
    box-sizing: border-box;
    p{
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: #2279D1;
    }
    .top_links_inner{
      width: 100%;
      .top_link{
        display: flex;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto 20px;
        border: 3px solid #2279D1;
        border-radius: 6px;
        text-align: center;
        padding: 12px 8px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 0 10px -1px grey;
        font-size: 18px;
        font-weight: bold;
        color: #2279D1;
        line-height: 1.4;
        span{
          font-size: 13px;
        }
        img{
          width: 45px;
          height: 45px;
          margin-right: 20px;
        }
        .car_img{
          width: 45px;
          height: 45px;
        }
      }
    }
  }
  .content{
    width: 100%;
    .content_inner{
      margin: 60px auto 100px;
      .about{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        h2{
          margin-bottom: 30px;
        }
        .about_box{
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          margin: 0 auto 60px;
          h3{
            color: #1F77D1;
            font-size: 10px;
            margin: 0 auto 10px;
            background: #fff;
            line-height: 1.4;
            span{
              font-size: 14px;
            }
          }
          .pc_about{
            display: none;
          }
          .sp_about{
            display: block;
            margin-bottom: 20px;
            img{
              height: 250px;
            }
          }
          .about_box_link{
            background: #2279D1;
            width: 80%;
            display: inline-block;
            border-radius: 4px;
            padding: 13px 20px;
            font-size: 13px;
            color: #fff;
            box-shadow: 0 0 10px -1px grey;
          }
        }
      }
      .serch{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 50px;
        .serch_category{
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          border-radius: 8px;
          border: 2px solid #2279D1;
          width: 100%;
          margin: 0 auto 10px;
          text-align: center;
          li{
            width: calc(100% / 3);
            font-weight: bold;
            a{
              color: #2279D1;
              font-size: 12px;
              width: 100%;
              display: inline-block;
              padding: 20px 0;
            }
            a:hover{
              background: #2279D1;
              color: #fff;
              opacity: 1;
            }
            a.selected{
              background: #2279D1;
              color: #fff;
            }
          }
        }
        table{
          width: 100%;
          margin: 0 auto;
          tr{
            th{
              width: 15%;
              padding: 15px;
              text-align: left;
              color: #7d7d7d;
              font-size: 12px;
              border-bottom: 1px dashed #c7c7c7;
            }
            td{
              width: 85%;
              padding: 12px 0;
              border-bottom: 1px dashed #c7c7c7;
              ul{
                li{
                  width: 22%;
                  float: left;
                  margin-right: 5px;
                  margin-bottom: 7px;
                  padding-left: 15px;
                  position: relative;
                  a{
                    color: #2279D1;
                    font-size: 12px;
                    font-weight: bold;
                    text-decoration: underline;
                  }
                  &:before{
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: 1px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 7px solid #2279D1;
                  }
                  &:nth-child(6n){
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
      .experience{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 40px;
        .experience_copy{
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: #7d7d7d;
          margin-bottom: 30px;
        }
        .experience_pc_img{
          display: none;
        }
        .experience_sp_img{
          display: block;
          text-align: center;
          img{
            width: 100%;
            margin: 0 auto;
          }
        }
      }
      .review{
        background: #F8F8F8;
        width: 100%;
        padding: 30px 20px 50px;
        box-sizing: border-box;
        ul{
          width: 100%;
          height: 350px;
          .review_cell{
            background: #fff;
            border-radius: 6px;
            margin-right: 20px;
            width: 230px;
            height: 350px;
            .review_img{
              object-fit: cover;
              width: 100%;
              height: 150px;
              border-radius: 6px 6px 0 0;
            }
            .review_profile{
              position: absolute;
              text-shadow: 2px 2px 2px #000;
              top: 120px;
              right: 10px;
              color: #fff;
              margin: 0;
              font-size: 12px;
              .text01{
                font-size: 10px;
              }
              .text02{
                font-size: 11px;
              }
            }
            .review_text{
              padding: 14px;
              h3{
                font-size: 12px;
                font-weight: bold;
                margin: 0;
                margin-bottom: 10px;
              }
              p{
                font-size: 10px;
                margin: 0;
                line-height: 1.4;
              }
            }
          }
        }
      }
      .news{
        width: 100%;
        padding: 40px 20px 0;
        box-sizing: border-box;
        text-align: center;
        ul{
          width: 100%;
          margin: 0 auto 40px;
          li{
            padding: 8px;
            margin-bottom: 10px;
            text-align: left;
            color: #1F77D1;
            font-size: 11px;
            border-bottom: 1px solid #1F77D1;
            span{
              font-size: 13px;
              display: block;
              margin: 10px 0 0;
              font-weight: bold;
              color: #000;
            }
          }
        }
        .news_more_link{
          display: inline-block;
          width: 150px;
          text-align: center;
          font-size: 13px;
          margin: 0 auto;
          background: #2279D1;
          border-radius: 7px;
          padding: 12px 50px;
          color: #fff;
          box-shadow: 0 0 10px -1px grey;
        }
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .top_header{
      height: 400px;
      width: 100%;
      position: relative;
      img{
        height: 400px;
      }
      .top_header_inner{
        height: 400px;
        margin: 0 auto;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.3);
        }
        h1{
          position: absolute;
          top: 8%;
          left: 10%;
          font-size: 34px;
          line-height: 1.5;
          color: #fff;
        }
      }
    }
    .top_links{
      width: 100%;
      background: #f0f0f0;
      padding: 50px 0;
      p{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        color: #2279D1;
      }
      .top_links_inner{
        width: 600px;
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        .top_link{
          display: flex;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          border: 3px solid #2279D1;
          border-radius: 6px;
          text-align: center;
          padding: 15px 10px;
          margin-right: 20px;
          width: 250px;
          background: #fff;
          box-shadow: 0 0 10px -1px grey;
          font-size: 20px;
          font-weight: bold;
          color: #2279D1;
          line-height: 1.4;
          span{
            font-size: 14px;
          }
          img{
            width: 55px;
            height: 55px;
            margin-right: 20px;
          }
          .car_img{
            width: 55px;
            height: 55px;
          }
        }
        .top_link:last-child{
          margin-right: 0;
        }
      }
    }
    .content{
      width: 100%;
      .content_inner{
        margin: 60px auto 100px;
        .about{
          width: 1000px;
          margin: 0 auto 100px;
          .about_box{
            position: relative;
            width: 80%;
            border-radius: 10px;
            border: 2px solid #2279D1;
            padding: 60px 40px 40px 40px;
            text-align: center;
            margin: 0 auto 60px;
            h3{
              color: #1F77D1;
              font-size: 12px;
              position: absolute;
              top: -22px;
              left: 0;
              right: 0;
              margin: 0 auto;
              width: 130px;
              background: #fff;
              line-height: 1.4;
              span{
                font-size: 24px;
              }
            }
            .pc_about{
              display: block;
              padding: 0 20px 25px;
              img{
                width: 100%;
              }
            }
            .sp_about{
              display: none;
            }
            .about_box_link{
              background: #2279D1;
              border-radius: 7px;
              padding: 17px 50px;
              color: #fff;
              box-shadow: 0 0 10px -1px grey;
            }
          }
        }
        .serch{
          width: 1000px;
          margin: 0 auto 100px;
          .serch_category{
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            margin-bottom: 30px;
            border-radius: 8px;
            border: 2px solid #2279D1;
            width: 65%;
            margin: 0 auto 30px;
            text-align: center;
            li{
              width: calc(100% / 3);
              font-weight: bold;
              a{
                color: #2279D1;
                font-size: 13px;
                width: 100%;
                display: inline-block;
                padding: 20px 0;
              }
              a:hover{
                background: #2279D1;
                color: #fff;
                opacity: 1;
              }
              a.selected{
                background: #2279D1;
                color: #fff;
              }
            }
          }
          table{
            width: 80%;
            margin: 0 auto;
            tr{

              th{
                width: 15%;
                padding: 15px;
                text-align: left;
                color: #7d7d7d;
                font-size: 12px;
                border-bottom: 1px dashed #c7c7c7;
              }
              td{
                width: 85%;
                padding: 12px 0;
                border-bottom: 1px dashed #c7c7c7;
                ul{
                  li{
                    width: 13%;
                    float: left;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    padding-left: 15px;
                    position: relative;
                    a{
                      color: #2279D1;
                      font-size: 13px;
                      font-weight: bold;
                      text-decoration: underline;
                    }
                    &:before{
                      content: "";
                      position: absolute;
                      top: 4px;
                      left: 1px;
                      width: 0;
                      height: 0;
                      border-top: 5px solid transparent;
                      border-right: 7px solid transparent;
                      border-bottom: 5px solid transparent;
                      border-left: 7px solid #2279D1;
                    }
                    &:nth-child(6n){
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .experience{
          width: 1000px;
          margin: 0 auto 100px;
          .experience_copy{
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #7d7d7d;
            margin-bottom: 40px;
          }
          .experience_pc_img{
            text-align: center;
            display: block;
            img{
              width: 80%;
              margin: 0 auto;
            }
          }
          .experience_sp_img{
            display: none;
          }
        }
        .review{
          background: #F8F8F8;
          padding: 60px 0 100px;
          margin-bottom: 60px;
          ul{
            width: 1000px;
            margin: 0 auto;
            height: 410px;
            .review_cell{
              width: 300px;
              height: 410px;
              background: #fff;
              border-radius: 8px;
              box-shadow: 0 0 10px -1px grey;
              .review_img{
                object-fit: cover;
                width: 100%;
                height: 200px;
                border-radius: 6px 6px 0 0;
              }
              .review_profile{
                position: absolute;
                text-shadow: 2px 2px 2px #000;
                top: 160px;
                right: 10px;
                color: #fff;
                margin: 0;
                font-size: 13px;
                .text01{
                  font-size: 10px;
                }
                .text02{
                  font-size: 11px;
                }
              }
              .review_text{
                padding: 17px;
                h3{
                  font-size: 13px;
                  font-weight: bold;
                  margin: 0;
                  margin-bottom: 10px;
                }
                p{
                  font-size: 12px;
                  margin: 0;
                  line-height: 1.6;
                }
              }
            }
          }
        }
        .news{
          width: 1000px;
          margin: 0 auto;
          text-align: center;
          ul{
            width: 65%;
            margin: 0 auto 60px;
            li{
              padding: 15px;
              text-align: left;
              color: #1F77D1;
              font-size: 12px;
              border-bottom: 1px solid #1F77D1;
              span{
                font-size: 14px;
                font-weight: bold;
                margin-left: 30px;
                color: #000;
              }
            }
          }
          .news_more_link{
            display: inline-block;
            width: 150px;
            text-align: center;
            margin: 0 auto;
            background: #2279D1;
            border-radius: 7px;
            padding: 12px 50px;
            color: #fff;
            box-shadow: 0 0 10px -1px grey;
          }
        }
      }
    }
  }
}
