article{
  .mypage{
    h1{
      background: #2279D1;
      color: #fff;
      text-align: center;
      font-size: 16px;
      padding: 15px;
      margin: 0 0 40px;
    }
    .contents{
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      .nav_toggle_button{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 20px 0;
        width: 100%;
        background: #2279D1;
        color: #fff;
        text-align: center;
      }
      .mypage_nav{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: #fff;
        h2{
          margin: 0;
          color: #fff;
          font-size: 14px;
          padding: 15px 20px;
          background: #2279D1;
          text-align: left;
          &:after{
            content: none;
          }
        }
        .first_h2{
          align-items: center;
          display: flex;
          padding: 10px;
          img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
          }
          span{
            font-size: 14px;
          }
        }
        ul{
          padding: 10px 0;
          li{
            a{
              display: block;
              font-size: 13px;
              color: #4E4E4E;
              padding: 10px 20px;
            }
            .selected{
              color: #2279D1;
              font-weight: bold;
            }
          }
        }
      }
      .close_button{
        display: none;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: #fff;
        background: #2279D1;
        z-index: 30000;
      }
      .mypage_contents{
        width: 100%;
        .reserve_flow_box{
          padding: 15px;
          margin-bottom: 30px;
          border: 2px solid #c6c6c6;
          .reserve_flow_box01{
            margin-bottom: 20px;
            .reserve_car{
              width: 100%;
              margin-right: 30px;
              .reserve_car_title{
                color: #3C3C3C;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 15px;
              }
              .reserve_car_img{
                margin-bottom: 10px;
                img{
                  width: 100%;
                }
              }
              .option_list{
                display: -webkit-flex;
                display: flex;
                margin-bottom: 20px;
                li{
                  font-size: 12px;
                  font-weight: bold;
                  margin-right: 15px;
                  padding-left: 5px;
                  border-left: 10px solid #2279D1;
                }
              }
            }
            .reserve_info{
              width: 100%;
              .reserve_day{
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                background: #2279D1;
                padding: 15px;
                border: 1px solid #2279D1;
              }
              .reserve_money{
                padding: 20px;
                border-right: 1px solid #B5B5B5;
                border-left: 1px solid #B5B5B5;
                border-bottom:  1px solid #B5B5B5;
                .money_line{
                  display: -webkit-flex;
                  display: flex;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  padding-bottom: 15px;
                  p{
                    color: #6E6E6E;
                    font-size: 12px;
                  }
                }
                .bottom_line{
                  border-bottom: 1px solid #B5B5B5;
                }
                .total_money{
                  display: -webkit-flex;
                  display: flex;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  p{
                    color: #2279D1;
                    font-weight: bold;
                    font-size: 15px;
                    padding: 15px 0 0;
                  }
                }
              }
            }
          }
          .reserve_flow_box02{
            .reserve_detail{
              p{
                font-size: 12px;
                color: #3C3C3C;
                margin-bottom: 10px;
                span{
                  margin-left: 20px;
                  font-weight: bold;
                  color: #2279D1;
                }
                a{
                  font-size: 13px;
                  margin-left: 20px;
                }
              }
            }
            .reserve_next_button{
              .reserve_next{
                display: block;
                margin-top: 20px;
                padding: 15px;
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                background: #2279D1;
                border-radius: 6px;
                color: #fff;
                font-size: 15px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  #close_area{
    display: none;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30000;
    &:after{
      position: absolute;
      content: "×";
      width: 30px;
      height: 30px;
      top: 0px;
      left: 0px;
      color: #fff;
      font-size: 35px;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .mypage{
      h1{
        background: #2279D1;
        color: #fff;
        text-align: center;
        font-size: 18px;
        padding: 15px;
        margin: 0 0 40px;
      }
      .contents{
        width: 1000px;
        margin: 0 auto 60px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        .nav_toggle_button{
          display: none;
        }
        .mypage_nav{
          display: block;
          width: 25%;
          margin-right: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px -1px grey;
          position: static;
          h2{
            margin: 0;
            color: #fff;
            font-size: 14px;
            padding: 15px 20px;
            background: #2279D1;
            text-align: left;
            &:after{
              content: none;
            }
          }
          .first_h2{
            align-items: center;
            display: flex;
            border-radius: 8px 8px 0 0;
            padding: 10px;
            img{
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 10px;
            }
            span{
              font-size: 14px;
            }
          }
          ul{
            padding: 10px 0;
            li{
              a{
                display: block;
                font-size: 13px;
                color: #4E4E4E;
                padding: 10px 20px;
              }
              .selected{
                color: #2279D1;
                font-weight: bold;
              }
            }
          }
        }
        .close_button{
          display: none;
        }
        .mypage_contents{
          width: 70%;
          .reserve_flow_box{
            padding: 30px;
            margin-bottom: 30px;
            .reserve_flow_box01{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              margin-bottom: 30px;
              .reserve_car{
                width: 40%;
                margin-right: 30px;
                .reserve_car_title{
                  color: #3C3C3C;
                  font-size: 16px;
                  font-weight: bold;
                  margin-bottom: 15px;
                }
                .reserve_car_img{
                  margin-bottom: 10px;
                  img{
                    width: 100%;
                  }
                }
                .option_list{
                  display: -webkit-flex;
                  display: flex;
                  margin-bottom: 20px;
                  li{
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: 15px;
                    padding-left: 5px;
                    border-left: 10px solid #2279D1;
                  }
                }
              }
              .reserve_info{
                width: 55%;
                .reserve_day{
                  font-size: 14px;
                  color: #fff;
                  font-weight: bold;
                  background: #2279D1;
                  padding: 20px 30px;
                  border: 1px solid #2279D1;
                }
                .reserve_money{
                  padding: 35px 30px;
                  border-right: 1px solid #B5B5B5;
                  border-left: 1px solid #B5B5B5;
                  border-bottom:  1px solid #B5B5B5;
                  .money_line{
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    p{
                      color: #6E6E6E;
                      font-size: 14px;
                    }
                  }
                  .bottom_line{
                    border-bottom: 1px solid #B5B5B5;
                  }
                  .total_money{
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    p{
                      color: #2279D1;
                      font-weight: bold;
                      font-size: 16px;
                      padding: 20px 0 0;
                    }
                  }
                }
              }
            }
            .reserve_flow_box02{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              .reserve_detail{
                p{
                  font-size: 15px;
                  color: #3C3C3C;
                  margin-bottom: 20px;
                  span{
                    margin-left: 20px;
                    font-weight: bold;
                    color: #2279D1;
                  }
                  a{
                    font-size: 13px;
                    margin-left: 20px;
                  }
                }
              }
              .reserve_next_button{
                .reserve_next{
                  display: block;
                  margin-top: 40px;
                  padding: 15px;
                  width: 200px;
                  text-align: center;
                  background: #2279D1;
                  border-radius: 6px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
