article{
  .news{
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
    text-align: center;
    ul{
      width: 100%;
      li{
        padding: 0 0 10px 0;
        text-align: left;
        margin-bottom: 20px;
        color: #1F77D1;
        font-size: 12px;
        border-bottom: 1px solid #1F77D1;
        span{
          font-size: 14px;
          display: block;
          font-weight: bold;
          margin: 8px 0 0;
          color: #000;
        }
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {
  article{
    .news{
      width: 100%;
      padding: 60px 20px;
      box-sizing: border-box;
      text-align: center;
      ul{
        width: 100%;
        li{
          padding: 0 0 10px 0;
          text-align: left;
          margin-bottom: 20px;
          color: #1F77D1;
          font-size: 12px;
          border-bottom: 1px solid #1F77D1;
          span{
            font-size: 14px;
            display: block;
            font-weight: bold;
            margin: 8px 0 0;
            color: #000;
          }
        }
      }
    }
  }
}
@media screen and (min-width:960px){
  article{
    padding: 0 0 120px;
    .news{
      width: 1000px;
      margin: 0 auto;
      text-align: center;
      ul{
        width: 65%;
        margin: 0 auto 60px;
        li{
          padding: 15px;
          text-align: left;
          color: #1F77D1;
          font-size: 12px;
          border-bottom: 1px solid #1F77D1;
          span{
            font-size: 14px;
            font-weight: bold;
            margin-left: 30px;
            color: #000;
            display: inline-block;
          }
        }
      }
    }
  }
}
