body{
  padding-bottom: 42px;
}
article{
  .owner_top{
    width: 100%;
    height: 500px;
    background-image: image-url("owner_top.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .revenue_box{
      position: absolute;
      box-shadow: 0 0 10px -1px grey;
      top: 70px;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      background: #fff;
      border-radius: 6px;
      box-sizing: border-box;
      color: #3C3C3C;
      .title{
        font-size: 15px;
        padding: 20px;
        border-radius: 6px 6px 0 0;
        font-weight: bold;
        background: #2279D1;
        color: #fff;
      }
      .revenue_box_inner{
        background: #fff;
        border-radius: 0 0 6px 6px;
        padding: 20px;
        .text{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .area{
          padding: 15px;
          font-size: 14px;
          border: 1px solid #ccc;
          margin-bottom: 10px;
        }
        .select_box{
          display: flex;
          display: -webkit-flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          margin-bottom: 20px;
          p{
            width: 46%;
            text-align: center;
            padding: 10px 15px;
            font-size: 14px;
            border: 1px solid #ccc;
            box-sizing: border-box;
          }
        }
        .revenue_result{
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 20px;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
          span{
            font-size: 12px;
            color: #ccc;
            margin-left: 5px;
          }
        }
        a{
          display: inline-block;
          width: 100%;
          padding: 14px 10px;
          background:  #2279D1;
          border-radius: 4px;
          color: #fff;
          box-sizing: border-box;
          text-align: center;
        }
      }
    }
  }
  .revenue_bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #ccc;
    z-index: 10000;
    .bottom_box{
      width: 100%;
      margin: 0 auto;
      padding: 7px;
      box-sizing: border-box;
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content:flex-end;
      justify-content:flex-end;
      color: #3C3C3C;
      p{
        font-size: 10px;
        margin-top: 13px;
        margin-right: 5px;
      }
      span{
        font-size: 17px;
        margin-top: 8px;
        font-weight: bold;
        margin-right: 8px;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
      }
      a{
        display: inline-block;
        padding:  8px;
        font-size: 12px;
        background:  #2279D1;
        border-radius: 4px;
        color: #fff;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
  .owner_consider{
    padding-top: 40px;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    .consider_button{
      margin-bottom: 60px;
      li{
        width: 80%;
        margin: 0 auto 20px;
        .top_link{
          display: flex;
          display: -webkit-flex;
          -webkit-justify-content: center;
          justify-content: center;
          border: 3px solid #2279D1;
          border-radius: 6px;
          padding: 10px 10px;
          background: #fff;
          box-shadow: 0 0 10px -1px grey;
          font-size: 16px;
          font-weight: bold;
          color: #2279D1;
          line-height: 1.4;
          img{
            width: 45px;
            height: 45px;
            margin-right: 15px;
          }
          .text_box{
            text-align: left;
            span{
              font-size: 13px;
            }
          }
        }
      }
    }
    h2{
      font-size: 16px;
      &:after{
        width: 8%;
      }
    }
    .owner_about{
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      color: #3C3C3C;
      margin-bottom: 80px;
      h3{
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 15px;
      }
      .about_text{
        font-size: 14px;
        line-height: 1.7;
      }
    }
    .owner_merit{
      width: 100%;
      padding: 0 20px;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 100px;
      .merit_lists{
        li{
          color: #3C3C3C;
          margin-bottom: 40px;
          h3{
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .merit_content{
            .merit_img{
              line-height: 1.0;
              text-align: center;
              margin-bottom: 10px;
              img{
                height: 200px;
              }
            }
            p{
              font-size: 12px;
              line-height: 1.6;
              text-align: left;
            }
          }
        }
      }
    }
    .owner_step{
      width: 100%;
      padding: 0 20px 60px;
      box-sizing: border-box;
      .title{
        font-size: 16px;
        border-bottom: 4px solid #2279D1;
        padding-bottom: 12px;
        text-align: center;
        line-height: 1.5;
        margin: 0 auto 20px;
        font-weight: bold;
        color: #3C3C3C;
      }
      ul{
        li{
          color: #3C3C3C;
          margin-bottom: 25px;
          h3{
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 10px;
            span{
              margin-left: 5px;
              font-size: 15px;
            }
          }
          p{
            font-size: 12px;
            line-height: 1.6;
            img{
              width: 100%;
            }
          }
        }
      }
    }
    .owner_review{
      width: 100%;
      background: #F8F8F8;
      padding: 60px 0;
      ul{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        li{
          width: 100%;
          color: #3C3C3C;
          margin-bottom: 25px;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          .profile_box{
            margin-right: 10px;
            p{
              margin-bottom: 10px;
              img{
                width: 40px;
              }
            }
            span{
              font-size: 10px;
              font-weight: bold;
              margin-bottom: 4px;
              display: block;
            }
          }
          .comment_box{
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            font-size: 12px;
            line-height: 1.5;
          }
        }
        li.right{
          flex-direction: row-reverse;
          .profile_box{
            margin-right: 0;
            margin-left: 20px;
          }
        }
      }
    }
    .owner_experience{
      text-align: center;
      width: 100%;
      padding: 40px 20px;
      box-sizing: border-box;
      .experience_pc_img{
        display: none;
      }
      .experience_sp_img{
        display: block;
        img{
          width: 100%;
        }
      }
    }
    .owner_quesition{
      width: 100%;
      margin: 0 auto;
      padding: 60px 20px;
      box-sizing: border-box;
      h3{
        padding-bottom: 12px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 2px solid #2279D1;
        margin-bottom: 20px;
        text-align: left;
        color: #3C3C3C;
        &:after{
          content: none;
        }
      }
      ul{
        margin-bottom: 20px;
        width: 100%;
        li{
          width: 95%;
          margin: 0 auto 20px;
          padding: 20px 10px 0px 25px;
          border: 1px solid #2279D1;
          box-sizing: border-box;
          position: relative;
          .question_toggle{
            color: #2279D1;
            font-size: 13px;
            padding-bottom: 20px;
            position: relative;
            &:after{
              position: absolute;
              content: "+";
              top: -5px;
              right: 5px;
              color: #2279D1;
              font-weight: bold;
              font-size: 20px;
            }
          }
          .open{
            &:after{
              position: absolute;
              content: "ー";
              top: -1px;
              right: 5px;
              color: #2279D1;
              font-weight: bold;
              font-size: 16px;
            }
          }
          .answer{
            padding: 20px 10px 20px 30px;
            border-top: 1px dashed #2279D1;
            box-sizing: border-box;
            position: relative;
            font-size: 11px;
            line-height: 1.5;
            color: #3C3C3C;
            display: none;
            &:before{
              position: absolute;
              content: "A";
              top: 10px;
              left: 0px;
              font-size: 23px;
              font-weight: bold;
              color: #FFBA00;
            }
          }
          &:before{
            position: absolute;
            content: "Q";
            top: -10px;
            left: -10px;
            font-size: 30px;
            font-weight: bold;
            color: #2279D1;
            padding: 0 5px 5px 0;
            background: #fff;
          }
        }
      }
    }
    .owner_resigtraiton{
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      a{
        border: 3px solid #2279D1;
        text-align: center;
        width: 100%;
        margin: 30px auto 60px;
        display: block;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 15px 10px;
        background: #fff;
        box-shadow: 0 0 10px -1px grey;
        font-size: 16px;
        font-weight: bold;
        color: #2279D1;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  body{
    padding-bottom: 59px;
  }
  article{
    .owner_top{
      width: 100%;
      height: 600px;
      background-image: image-url("owner_top.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .revenue_box{
        position: absolute;
        box-shadow: 0 0 10px -1px grey;
        top: 100px;
        right: 5%;
        left: auto;
        width: 400px;
        background: #fff;
        border-radius: 6px;
        box-sizing: border-box;
        color: #3C3C3C;
        .title{
          font-size: 18px;
          padding: 20px 30px;
          border-radius: 6px 6px 0 0;
          font-weight: bold;
          background: #2279D1;
          color: #fff;
        }
        .revenue_box_inner{
          background: #fff;
          border-radius: 0 0 6px 6px;
          padding: 30px;
          .text{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .area{
            padding: 18px 15px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
          }
          .select_box{
            display: flex;
            display: -webkit-flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-bottom: 20px;
            p{
              width: 46%;
              text-align: center;
              padding: 18px 15px;
              border: 1px solid #ccc;
              box-sizing: border-box;
            }
          }
          .revenue_result{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
            span{
              font-size: 16px;
              color: #ccc;
              margin-left: 10px;
            }
          }
          a{
            display: inline-block;
            width: 100%;
            padding: 14px 10px;
            background:  #2279D1;
            border-radius: 4px;
            color: #fff;
            box-sizing: border-box;
            text-align: center;
          }
        }
      }
    }
    .revenue_bottom{
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #fff;
      border-top: 1px solid #ccc;
      z-index: 10000;
      .bottom_box{
        width: 900px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content:flex-end;
        justify-content:flex-end;
        color: #3C3C3C;
        p{
          font-size: 13px;
          margin-top: 13px;
          margin-right: 10px;
        }
        span{
          font-size: 22px;
          margin-top: 8px;
          font-weight: bold;
          margin-right: 20px;
          font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
        }
        a{
          display: inline-block;
          padding: 12px 20px;
          font-size: 15px;
          background:  #2279D1;
          border-radius: 4px;
          color: #fff;
          box-sizing: border-box;
          text-align: center;
        }
      }
    }
    .owner_consider{
      padding-top: 60px;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 16px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      .consider_button{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 60px;
        li{
          margin: 0;
          margin-right: 20px;
          width: auto;
          .top_link{
            display: flex;
            display: -webkit-flex;
            -webkit-justify-content: center;
            justify-content: center;
            border: 3px solid #2279D1;
            border-radius: 6px;
            padding: 15px 10px;
            width: 250px;
            background: #fff;
            box-shadow: 0 0 10px -1px grey;
            font-size: 20px;
            font-weight: bold;
            color: #2279D1;
            line-height: 1.4;
            img{
              width: 55px;
              height: 55px;
              margin-right: 20px;
            }
            .text_box{
              text-align: left;
              span{
                font-size: 14px;
              }
            }
          }
        }
        li:last-child{
          margin-right: 0;
        }
      }
      h2{
        font-size: 16px;
        &:after{
          width: 8%;
        }
      }
      .owner_about{
        width: 700px;
        margin: 0 auto 100px;
        color: #3C3C3C;
        h3{
          text-align: center;
          font-size: 24px;
          margin-bottom: 30px;
        }
        .about_text{
          font-size: 16px;
          line-height: 1.7;
        }
      }
      .owner_merit{
        width: 700px;
        margin: 0 auto 100px;
        .merit_lists{
          li{
            width: 85%;
            color: #3C3C3C;
            margin-bottom: 30px;
            h3{
              font-size: 18px;
              margin-left: 10px;
              font-weight: bold;
              margin-bottom: 20px;
            }
            .merit_content{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              .merit_img{
                margin-right: 20px;
                img{
                  width: 210px;
                  height: auto;
                }
              }
              p{
                font-size: 14px;
                line-height: 1.6;
                text-align: left;
              }
            }
          }
          .left{
            margin-right: 15%;
            text-align: left;
          }
          .right{
            margin-left: 15%;
            text-align: right;
            .merit_content{
              flex-direction: row-reverse;
              p{
                margin-right: 20px;
              }
              .merit_img{
                margin-right: 0;
              }
            }
          }
        }
      }
      .owner_step{
        width: 900px;
        margin: 0 auto 100px;
        .title{
          font-size: 20px;
          border-bottom: 4px solid #2279D1;
          padding-bottom: 12px;
          width: 60%;
          text-align: center;
          margin: 0 auto 40px;
          font-weight: bold;
          color: #3C3C3C;
        }
        ul{
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          li{
            color: #3C3C3C;
            width: calc(100% / 3);
            margin-right: 20px;
            h3{
              font-size: 40px;
              font-weight: bold;
              margin: 0 0 20px;
              span{
                margin-left: 10px;
                font-size: 18px;
              }
            }
            p{
              font-size: 14px;
              line-height: 1.6;
              img{
                width: 100%;
              }
            }
          }
          li:last-child{
            margin-right: 0;
          }
        }
      }
      .owner_review{
        width: 100%;
        background: #F8F8F8;
        padding: 60px 0;
        ul{
          width: 900px;
          margin: 0 auto;
          li{
            width: 70%;
            color: #3C3C3C;
            margin-bottom: 25px;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            .profile_box{
              margin-right: 20px;
              p{
                margin-bottom: 10px;
                img{
                  width: 70px;
                }
              }
              span{
                font-size: 11px;
                font-weight: bold;
                margin-bottom: 4px;
                display: block;
              }
            }
            .comment_box{
              padding: 30px;
              background: #fff;
              border-radius: 8px;
              font-size: 13px;
              line-height: 1.5;
            }
          }
          li.right{
            margin-left: 30%;
            flex-direction: row-reverse;
            .profile_box{
              margin-right: 0;
              margin-left: 20px;
            }
          }
        }
      }
      .owner_experience{
        padding: 60px 0;
        text-align: center;
        width: 900px;
        margin: 0 auto;
        .experience_pc_img{
          display: block;
          img{
            width: 100%;
          }
        }
        .experience_sp_img{
          display: none;
        }
      }
      .owner_quesition{
        width: 700px;
        margin: 0 auto 100px;
        h3{
          padding-bottom: 15px;
          font-size: 16px;
          font-weight: bold;
          border-bottom: 2px solid #2279D1;
          margin-bottom: 30px;
        }
        ul{
          margin-bottom: 40px;
          width: 100%;
          li{
            width: 95%;
            margin: 0 auto 25px;
            padding: 25px 20px 0px 45px;
            border: 1px solid #2279D1;
            box-sizing: border-box;
            position: relative;
            .question_toggle{
              color: #2279D1;
              font-size: 15px;
              padding-bottom: 25px;
              position: relative;
              &:after{
                position: absolute;
                content: "+";
                top: -10px;
                right: 10px;
                color: #2279D1;
                font-weight: bold;
                font-size: 30px;
              }
            }
            .open{
              &:after{
                position: absolute;
                content: "ー";
                top: -10px;
                right: 10px;
                color: #2279D1;
                font-weight: bold;
                font-size: 30px;
              }
            }
            .answer{
              padding: 25px 20px 25px 40px;
              border-top: 1px dashed #2279D1;
              box-sizing: border-box;
              position: relative;
              font-size: 13px;
              line-height: 1.5;
              color: #3C3C3C;
              display: none;
              &:before{
                position: absolute;
                content: "A";
                top: 10px;
                left: 0px;
                font-size: 33px;
                font-weight: bold;
                color: #FFBA00;
              }
            }
            &:before{
              position: absolute;
              content: "Q";
              top: -10px;
              left: -10px;
              font-size: 45px;
              font-weight: bold;
              color: #2279D1;
              padding: 0 5px 5px 0;
              background: #fff;
            }
          }
        }
      }
      .owner_resigtraiton{
        width: 700px;
        margin: 0 auto 100px;
        a{
          border: 3px solid #2279D1;
          text-align: center;
          width: 60%;
          margin: 50px auto;
          display: block;
          border-radius: 6px;
          padding: 15px 10px;
          background: #fff;
          box-shadow: 0 0 10px -1px grey;
          font-size: 16px;
          font-weight: bold;
          color: #2279D1;
          line-height: 1.4;
        }
      }
    }
  }
}
