article{
  .entry{
    width: 100%;
    padding: 50px 20px 30px;
    box-sizing: border-box;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    #new_owner{
      p{
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
      .hint{
        display: none;
      }
      input{
        height: 30px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 10px;
      }
      textarea{
        height: 60px;
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
      }
      select{
        height: 30px;
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
      }
      #birth_day{
        select{
          height: 30px;
          width: 100px;
          font-size: 14px;
          margin-bottom: 20px;
          border: 1px solid #ccc;
        }
      }
      #store_receipt_date{
        border: 2px solid red;
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 20px;
        p{
          font-size: 18px;
          color: red;
          margin: 0;
          line-height: 1.5;
        }
        .before_p{
          color: red;
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 8px;
        }
        .before_t{
          font-size: 14px;
          line-height: 1.3;
        }
      }
      #store_date{
        #owner_first_receipt_date_1i,#owner_second_receipt_date_1i,#owner_third_receipt_date_1i{
          width: 60px;
        }
        select{
          height: 30px;
          width: 45px;
          font-size: 13px;
          margin-bottom: 20px;
          border: 1px solid #ccc;
        }
      }
      .btn{
        width: 200px;
        height: auto;
        display: block;
        padding: 10px 20px;
        margin: 20px auto;
        font-weight: bold;
        background: #2279D1;
        color: #fff;
        border: none;
        border-radius: 6px;
      }
    }
    a{
      display: block;
      font-size: 14px;
      text-align: center;
      margin: 0 auto;
    }
    .owner_registration_text{
      text-align: center;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .owner_registration_link{
      a{
        width: 200px;
        height: auto;
        display: block;
        color: #fff;
        padding: 10px 20px;
        margin: 20px auto;
        font-weight: bold;
        background: #2279D1;
        color: #fff;
        border: none;
        border-radius: 6px;
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .entry{
      width: 500px;
      margin: 0 auto 60px;
      padding-top: 31px;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 13px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      #new_owner{
        p{
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          margin-bottom: 10px;
        }
        .hint{
          display: none;
        }
        input{
          height: 30px;
          display: block;
          width: 100%;
          margin: 0 auto 20px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding-left: 10px;
        }
        select{
          height: 30px;
          width: 60px;
          font-size: 14px;
          margin-bottom: 20px;
        }
        #owner_license_attributes_image{
          border: none;
        }
        .btn{
          width: 200px;
          height: auto;
          display: block;
          padding: 10px 20px;
          margin: 20px auto;
          font-weight: bold;
          background: #2279D1;
          color: #fff;
          border: none;
          border-radius: 6px;
        }
      }
      a{
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .owner_registration_text{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .owner_registration_link{
      a{
        width: 200px;
        height: auto;
        display: block;
        color: #fff;
        padding: 10px 20px;
        margin: 20px auto;
        font-weight: bold;
        background: #2279D1;
        border: none;
        border-radius: 6px;
      }
    }
  }
}
