article{
  .owner_quesition{
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    h2{
      padding-bottom: 12px;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #2279D1;
      margin-bottom: 20px;
      text-align: left;
      color: #3C3C3C;
      &:after{
        content: none;
      }
    }
    ul{
      margin-bottom: 20px;
      width: 100%;
      li{
        width: 95%;
        margin: 0 auto 20px;
        padding: 20px 10px 0px 25px;
        border: 1px solid #2279D1;
        box-sizing: border-box;
        position: relative;
        .question_toggle{
          color: #2279D1;
          font-size: 13px;
          padding-bottom: 20px;
          position: relative;
          &:after{
            position: absolute;
            content: "+";
            top: -5px;
            right: 5px;
            color: #2279D1;
            font-weight: bold;
            font-size: 20px;
          }
        }
        .open{
          &:after{
            position: absolute;
            content: "ー";
            top: -1px;
            right: 5px;
            color: #2279D1;
            font-weight: bold;
            font-size: 16px;
          }
        }
        .answer{
          padding: 20px 10px 20px 30px;
          border-top: 1px dashed #2279D1;
          box-sizing: border-box;
          position: relative;
          font-size: 11px;
          line-height: 1.5;
          color: #3C3C3C;
          display: none;
          &:before{
            position: absolute;
            content: "A";
            top: 10px;
            left: 0px;
            font-size: 23px;
            font-weight: bold;
            color: #FFBA00;
          }
        }
        &:before{
          position: absolute;
          content: "Q";
          top: -10px;
          left: -10px;
          font-size: 30px;
          font-weight: bold;
          color: #2279D1;
          padding: 0 5px 5px 0;
          background: #fff;
        }
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .owner_quesition{
      width: 700px;
      margin: 0 auto;
      padding: 60px 0;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 13px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      h2{
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid #2279D1;
        margin-bottom: 30px;
        text-align: left;
        color: #3C3C3C;
        &:after{
          content: none;
        }
      }
      ul{
        margin-bottom: 40px;
        width: 100%;
        li{
          width: 95%;
          margin: 0 auto 25px;
          padding: 25px 20px 0px 45px;
          border: 1px solid #2279D1;
          box-sizing: border-box;
          position: relative;
          .question_toggle{
            color: #2279D1;
            font-size: 15px;
            padding-bottom: 25px;
            position: relative;
            &:after{
              position: absolute;
              content: "+";
              top: -10px;
              right: 10px;
              color: #2279D1;
              font-weight: bold;
              font-size: 30px;
            }
          }
          .open{
            &:after{
              position: absolute;
              content: "ー";
              top: -10px;
              right: 10px;
              color: #2279D1;
              font-weight: bold;
              font-size: 30px;
            }
          }
          .answer{
            padding: 25px 20px 25px 40px;
            border-top: 1px dashed #2279D1;
            box-sizing: border-box;
            position: relative;
            font-size: 13px;
            line-height: 1.5;
            color: #3C3C3C;
            display: none;
            &:before{
              position: absolute;
              content: "A";
              top: 10px;
              left: 0px;
              font-size: 33px;
              font-weight: bold;
              color: #FFBA00;
            }
          }
          &:before{
            position: absolute;
            content: "Q";
            top: -10px;
            left: -10px;
            font-size: 45px;
            font-weight: bold;
            color: #2279D1;
            padding: 0 5px 5px 0;
            background: #fff;
          }
        }
      }
    }
  }
}
