article{
  width: 100%;
  padding: 0 20px;
  .condition{
    .condition_list{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      position: relative;
      margin-bottom: 30px;
      padding-top: 30px;
      li{
        width: 25%;
        p{
          text-align: center;
          font-size: 14px;
          color: #2279D1;
          font-weight: bold;
        }
        .condition_circle{
          margin: 0 auto;
          width: 20px;
          height: 20px;
          border: 4px solid #2279D1;
          border-radius: 50%;
          background: #fff;
        }
      }
      .non_select{
        p{
          margin-bottom: 17px;
        }
      }
      .selected{
        p{
          color: #EB555D;
          margin-bottom: 10px;
        }
        .condition_circle{
          border: 4px solid #EB555D;
          width: 35px;
          height: 35px;
        }
      }
      &:after{
        content: "";
        z-index: -1000;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 75%;
        height: 4px;
        bottom: 20px;
        background: #D1D1D1;
      }
    }
    .contents{
      .ownerpage_nav{
        border: 1px solid #ccc;
        margin-bottom: 30px;
        h2{
          margin: 0;
          color: #fff;
          font-size: 14px;
          padding: 15px 20px;
          background: #2279D1;
          text-align: left;
          &:after{
            content: none;
          }
        }
        .nav_contents{
          padding: 20px;
          li{
            margin-bottom: 10px;
            a{
              display: block;
              font-size: 13px;
              font-weight: bold;
              text-decoration: underline;
              color: #2279D1;
            }
            p{
              color: #3C3C3C;
              margin-bottom: 8px;
              font-size: 13px;
              font-weight: bold;
            }
            span{
              color: #2279D1;
            }
            .map_link{
              display: block;
              text-align: right;
              margin: 8px 0;
            }
          }
          .money_list{
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            color: #6E6E6E;
            font-size: 15px;
            p{
              margin-bottom: 20px;
            }
            span{

            }
          }
          .total_money{
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            border-top: 1px solid #B5B5B5;
            color: #2279D1;
            font-weight: bold;
            font-size: 16px;
            padding-top: 20px;
          }
        }
      }
      .ownerpage_contents{
        h3{
          color: #3C3C3C;
          margin: 0 0 20px;
          font-size: 16px;
        }
        .map_box{
          background: #F8F8F8;
          padding: 20px;
          margin-bottom: 40px;
          h4{
            margin: 0 0 12px;
            color: #4E4E4E;
            font-size: 14px;
            text-align: left;
            &:after{
              content: none;
            }
          }
          .shop_link{
            margin-bottom: 7px;
            a{
              color: #2279D1;
              font-size: 13px;
            }
          }
          .shop_address{
            color: #4E4E4E;
            font-size: 12px;
            margin-bottom: 15px;
          }
          .map_img{
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:960px){
  article{
    width: 1000px;
    margin: 0 auto 60px;
    padding-top: 60px;
    .condition{
      .condition_list{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        position: relative;
        margin-bottom: 60px;
        li{
          width: 25%;
          p{
            text-align: center;
            font-size: 14px;
            color: #2279D1;
            font-weight: bold;
          }
          .condition_circle{
            margin: 0 auto;
            width: 20px;
            height: 20px;
            border: 4px solid #2279D1;
            border-radius: 50%;
            background: #fff;
          }
        }
        .non_select{
          p{
            margin-bottom: 17px;
          }
        }
        .selected{
          p{
            color: #EB555D;
            margin-bottom: 10px;
          }
          .condition_circle{
            border: 4px solid #EB555D;
            width: 35px;
            height: 35px;
          }
        }
        &:after{
          content: "";
          z-index: -1000;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 75%;
          height: 4px;
          bottom: 20px;
          background: #D1D1D1;
        }
      }
      .contents{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        width: 800px;
        margin: 0 auto;
        .ownerpage_nav{
          width: 30%;
          height: 620px;
          border-radius: 8px;
          box-shadow: 0 0 10px -1px grey;
          h2{
            margin: 0;
            color: #fff;
            font-size: 14px;
            padding: 15px 20px;
            background: #2279D1;
            text-align: left;
            &:after{
              content: none;
            }
          }
          .first_h2{
            border-radius: 8px 8px 0 0;
          }
          .nav_contents{
            padding: 35px 25px;
            li{
              margin-bottom: 20px;
              a{
                display: block;
                font-size: 13px;
                font-weight: bold;
                text-decoration: underline;
                color: #2279D1;
              }
              p{
                color: #3C3C3C;
                margin-bottom: 8px;
                font-size: 13px;
                font-weight: bold;
              }
              span{
                color: #2279D1;
              }
              .map_link{
                display: block;
                text-align: right;
                margin: 8px 0;
              }
            }
            .money_list{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              color: #6E6E6E;
              font-size: 15px;
              p{
                margin-bottom: 20px;
              }
              span{

              }
            }
            .total_money{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              border-top: 1px solid #B5B5B5;
              color: #2279D1;
              font-weight: bold;
              font-size: 16px;
              padding-top: 20px;
            }
          }
        }
        .ownerpage_contents{
          width: 65%;
          h3{
            color: #3C3C3C;
            margin: 0 0 20px;
          }
          .map_box{
            background: #F8F8F8;
            padding: 30px 20px;
            margin-bottom: 40px;
            h4{
              margin: 0 0 14px;
              color: #4E4E4E;
              font-size: 14px;
              margin-bottom: 20px;
              text-align: left;
              &:after{
                content: none;
              }
            }
            .shop_link{
              margin-bottom: 7px;
              a{
                color: #2279D1;
                font-size: 13px;
              }
            }
            .shop_address{
              color: #4E4E4E;
              font-size: 12px;
              margin-bottom: 15px;
            }
            .map_img{
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
