article{
  .reserve{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    .reserve_flow{
      margin-bottom: 50px;
      img{
        width: 100%;
      }
    }
    .reserve_title{
      color: #1F77D1;
      margin-bottom: 40px;
      font-weight: bold;
      font-size: 17px;
    }
    .reserve_flow_box01{
      margin-bottom: 30px;
      .reserve_car{
        width: 100%;
        margin-right: 30px;
        .reserve_car_title{
          color: #3C3C3C;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 15px;
        }
        .reserve_car_img{
          margin-bottom: 10px;
          img{
            width: 100%;
          }
        }
        .option_list{
          display: -webkit-flex;
          display: flex;
          margin-bottom: 20px;
          li{
            font-size: 12px;
            font-weight: bold;
            margin-right: 15px;
            padding-left: 5px;
            border-left: 10px solid #2279D1;
          }
        }
      }
      .reserve_info{
        width: 100%;
        .reserve_day{
          font-size: 14px;
          color: #fff;
          font-weight: bold;
          background: #2279D1;
          padding: 20px 30px;
          border: 1px solid #2279D1;
        }
        .reserve_money{
          padding: 35px 30px;
          border-right: 1px solid #B5B5B5;
          border-left: 1px solid #B5B5B5;
          border-bottom:  1px solid #B5B5B5;
          .money_line{
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding-bottom: 20px;
            p{
              color: #6E6E6E;
              font-size: 14px;
            }
          }
          .bottom_line{
            border-bottom: 1px solid #B5B5B5;
          }
          .total_money{
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            p{
              color: #2279D1;
              font-weight: bold;
              font-size: 16px;
              padding: 20px 0 0;
            }
          }
        }
      }
    }
    .reserve_flow_box02{
      margin-bottom: 60px;
      .reserve_detail{
        p{
          font-size: 15px;
          color: #3C3C3C;
          margin-bottom: 20px;
          span{
            margin-left: 20px;
            font-weight: bold;
            color: #2279D1;
          }
          a{
            font-size: 13px;
            margin-left: 20px;
          }
        }
      }
      .reserve_next_button{
        .reserve_next{
          display: block;
          margin-top: 40px;
          padding: 15px;
          width: 200px;
          text-align: center;
          background: #2279D1;
          border-radius: 6px;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .reserve{
      width: 800px;
      margin: 0 auto;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 16px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      .reserve_flow{
        margin-bottom: 50px;
        img{
          width: 100%;
        }
      }
      .reserve_title{
        color: #1F77D1;
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 17px;
      }
      .reserve_flow_box01{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 30px;
        .reserve_car{
          width: 40%;
          margin-right: 30px;
          .reserve_car_title{
            color: #3C3C3C;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .reserve_car_img{
            margin-bottom: 10px;
            img{
              width: 100%;
            }
          }
          .option_list{
            display: -webkit-flex;
            display: flex;
            margin-bottom: 20px;
            li{
              font-size: 12px;
              font-weight: bold;
              margin-right: 15px;
              padding-left: 5px;
              border-left: 10px solid #2279D1;
            }
          }
        }
        .reserve_info{
          width: 55%;
          .reserve_day{
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            background: #2279D1;
            padding: 20px 30px;
            border: 1px solid #2279D1;
          }
          .reserve_money{
            padding: 35px 30px;
            border-right: 1px solid #B5B5B5;
            border-left: 1px solid #B5B5B5;
            border-bottom:  1px solid #B5B5B5;
            .money_line{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              padding-bottom: 20px;
              p{
                color: #6E6E6E;
                font-size: 14px;
              }
            }
            .bottom_line{
              border-bottom: 1px solid #B5B5B5;
            }
            .total_money{
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              p{
                color: #2279D1;
                font-weight: bold;
                font-size: 16px;
                padding: 20px 0 0;
              }
            }
          }
        }
      }
      .reserve_flow_box02{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 60px;
        .reserve_detail{
          p{
            font-size: 15px;
            color: #3C3C3C;
            margin-bottom: 20px;
            span{
              margin-left: 20px;
              font-weight: bold;
              color: #2279D1;
            }
            a{
              font-size: 13px;
              margin-left: 20px;
            }
          }
        }
        .reserve_next_button{
          .reserve_next{
            display: block;
            margin-top: 40px;
            padding: 15px;
            width: 200px;
            text-align: center;
            background: #2279D1;
            border-radius: 6px;
            color: #fff;
          }
        }
      }
    }
  }
}
