article{
  .reserve{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    h1{
      padding: 30px 0 15px;
      text-align: center;
      font-size: 18px;
      color: #1F77D1;
      font-weight: bold;
      margin: 0;
    }
    p{
      text-align: center;
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 1.5;
    }
    .time{
      font-weight: bold;
      font-size: 16px;
    }
    img{
      width: 100px;
    }
    a{
      display: block;
      width: 200px;
      background: #1F77D1;
      color: #fff;
      border-radius: 10px;
      padding: 15px;
      font-weight: bold;
      text-align: center;
      margin: 0 auto 30px;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .reserve{
      width: 800px;
      margin: 0 auto;
      h1{
        margin: 0;
      }
    }
  }
}
