article{
  .reserve{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    .reserve_flow{
      margin-bottom: 50px;
      img{
        width: 100%;
      }
    }
    .reserve_title{
      color: #1F77D1;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 17px;
    }
    .text_area{
      overflow: auto;
      height: 500px;
      padding: 15px;
      font-size: 12px;
      line-height: 1.4;
      color: #4D4D4D;
      border:1px solid #707070;
      margin-bottom: 30px;
    }
    .reserve_check{
      margin-bottom: 30px;
      .reserve_check_text{
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #4D4D4D;
      }
    }
    .reserve_next{
      display: block;
      margin: 30px auto 60px;
      padding: 15px;
      width: 200px;
      text-align: center;
      background: #2279D1;
      border-radius: 6px;
      color: #fff;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .reserve{
      width: 800px;
      margin: 0 auto;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 16px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      .reserve_flow{
        margin-bottom: 50px;
        img{
          width: 100%;
        }
      }
      .reserve_title{
        color: #1F77D1;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 17px;
      }
      .text_area{
        overflow: auto;
        height: 500px;
        padding: 15px;
        font-size: 12px;
        line-height: 1.4;
        color: #4D4D4D;
        border:1px solid #707070;
        margin-bottom: 30px;
      }
      .reserve_check{
        margin-bottom: 30px;
        .reserve_check_text{
          display: inline-block;
          margin-left: 10px;
          font-size: 14px;
          font-weight: bold;
          color: #4D4D4D;
        }
      }
      .reserve_next{
        display: block;
        margin: 30px auto 60px;
        padding: 15px;
        width: 200px;
        text-align: center;
        background: #2279D1;
        border-radius: 6px;
        color: #fff;
      }
    }
  }
}
