article{
  padding: 0 0 60px;
  .serch{
    width: 100%;
    margin: 0 auto 50px;
    padding: 60px 20px 0;
    box-sizing: border-box;
    .serch_category{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      margin-bottom: 30px;
      border-radius: 8px;
      border: 2px solid #2279D1;
      width: 100%;
      margin: 0 auto 30px;
      text-align: center;
      li{
        width: calc(100% / 3);
        font-weight: bold;
        a{
          color: #2279D1;
          font-size: 12px;
          width: 100%;
          display: inline-block;
          padding: 20px 0;
        }
        a:hover{
          background: #2279D1;
          color: #fff;
          opacity: 1;
        }
        a.selected{
          background: #2279D1;
          color: #fff;
        }
      }
    }
    table{
      width: 100%;
      tr{

        th{
          width: 20px;
          padding: 15px;
          text-align: left;
          color: #7d7d7d;
          font-size: 12px;
          border-bottom: 1px dashed #c7c7c7;
        }
        td{
          width: calc(100% - 40px);
          padding: 12px 0;
          border-bottom: 1px dashed #c7c7c7;
          ul{
            li{
              width: 25%;
              float: left;
              margin-right: 5px;
              margin-bottom: 8px;
              padding-left: 15px;
              position: relative;
              a{
                color: #2279D1;
                font-size: 13px;
                font-weight: bold;
                text-decoration: underline;
              }
              &:before{
                content: "";
                position: absolute;
                top: 4px;
                left: 1px;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 7px solid #2279D1;
              }
              &:nth-child(6n){
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:600px) and (max-width:959px) {
  article{
    padding: 20px 20px 60px;
    .serch{
      width: 100%;
      margin: 0 auto 100px;
      .serch_category{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 8px;
        border: 2px solid #2279D1;
        width: 100%;
        margin: 0 auto 30px;
        text-align: center;
        li{
          width: calc(100% / 3);
          font-weight: bold;
          a{
            color: #2279D1;
            font-size: 12px;
            width: 100%;
            display: inline-block;
            padding: 20px 0;
          }
          a:hover{
            background: #2279D1;
            color: #fff;
            opacity: 1;
          }
          a.selected{
            background: #2279D1;
            color: #fff;
          }
        }
      }
      table{
        width: 100%;
        tr{

          th{
            width: 100px;
            padding: 15px;
            text-align: left;
            color: #7d7d7d;
            font-size: 12px;
            border-bottom: 1px dashed #c7c7c7;
          }
          td{
            width: calc(100% - 100px);
            padding: 12px 0;
            border-bottom: 1px dashed #c7c7c7;
            ul{
              li{
                width: 20%;
                float: left;
                margin-right: 5px;
                margin-bottom: 8px;
                padding-left: 15px;
                position: relative;
                a{
                  color: #2279D1;
                  font-size: 13px;
                  font-weight: bold;
                  text-decoration: underline;
                }
                &:before{
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 1px;
                  width: 0;
                  height: 0;
                  border-top: 5px solid transparent;
                  border-right: 7px solid transparent;
                  border-bottom: 5px solid transparent;
                  border-left: 7px solid #2279D1;
                }
                &:nth-child(6n){
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:960px){
  article{
    padding: 0 0 120px;
    .serch{
      width: 1000px;
      margin: 0 auto 100px;
      padding-top: 60px;
      .serch_category{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 8px;
        border: 2px solid #2279D1;
        width: 65%;
        margin: 0 auto 30px;
        text-align: center;
        li{
          width: calc(100% / 3);
          font-weight: bold;
          a{
            color: #2279D1;
            font-size: 13px;
            width: 100%;
            display: inline-block;
            padding: 20px 0;
          }
          a:hover{
            background: #2279D1;
            color: #fff;
            opacity: 1;
          }
          a.selected{
            background: #2279D1;
            color: #fff;
          }
        }
      }
      table{
        width: 80%;
        margin: 0 auto;
        tr{

          th{
            width: 15%;
            padding: 15px;
            text-align: left;
            color: #7d7d7d;
            font-size: 12px;
            border-bottom: 1px dashed #c7c7c7;
          }
          td{
            width: 85%;
            padding: 12px 0;
            border-bottom: 1px dashed #c7c7c7;
            ul{
              li{
                width: 13%;
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;
                padding-left: 15px;
                position: relative;
                a{
                  color: #2279D1;
                  font-size: 13px;
                  font-weight: bold;
                  text-decoration: underline;
                }
                &:before{
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 1px;
                  width: 0;
                  height: 0;
                  border-top: 5px solid transparent;
                  border-right: 7px solid transparent;
                  border-bottom: 5px solid transparent;
                  border-left: 7px solid #2279D1;
                }
                &:nth-child(6n){
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
