article{
  .signup{
    width: 100%;
    padding: 50px 20px 30px;
    box-sizing: border-box;
    h1{
      text-align: center;
      color: #1F77D1;
      font-size: 11px;
      position: relative;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0 0 25px 0;
      span{
        font-size: 22px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    .error_field{
      background: #ffadad;
      color: #a50000;
      padding: 15px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #ca6f6f;
      margin-bottom: 10px;
    }
    .error{
      font-size: 15px;
      color: #f00;
      font-weight: bold;
      display: block;
      margin-top: -13px;
      margin-bottom: 20px;
    }
    .form-inputs{
      label{
        display: none;
      }
      p{
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
      .hint{
        display: none;
      }
      input{
        width: 100%;
        display: block;
        font-size: 16px;
        height: 32px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 4px 10px;
      }
    }
    .form-actions{
      text-align: center;
      input{
        width: 200px;
        padding: 10px 20px;
        text-align: center;
        font-weight: bold;
        background: #2279D1;
        color: #fff;
        border: none;
        border-radius: 6px;
        margin: 20px auto;
      }
    }
    a{
      display: block;
      width: 110px;
      font-size: 14px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  article{
    .signup{
      width: 500px;
      margin: 0 auto 60px;
      padding-top: 31px;
      h1{
        text-align: center;
        color: #1F77D1;
        font-size: 13px;
        position: relative;
        padding: 20px 0;
        line-height: 1.5;
        margin: 0 0 35px 0;
        span{
          font-size: 34px;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width : 10% ;
          margin: 0 auto;
          border-bottom: 1px solid #1F77D1;
        }
      }
      .form-inputs{
        label{
          display: none;
        }
        p{
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          margin-bottom: 10px;
        }
        .hint{
          display: none;
        }
        input{
          width: 100%;
          display: block;
          font-size: 16px;
          height: 26px;
          border-radius: 4px;
          border: 1px solid #ccc;
          margin-bottom: 20px;
          padding: 4px 10px;
        }
      }
      .form-actions{
        text-align: center;
        input{
          width: 200px;
          padding: 10px 20px;
          text-align: center;
          font-weight: bold;
          background: #2279D1;
          color: #fff;
          border: none;
          border-radius: 6px;
          margin-bottom: 20px;
        }
      }
      a{
        display: block;
        width: 110px;
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
