ul.car_list_inner
  -@cars.each do |car|
    li.car_list_box
      .h2_box
        p #{car.price}円 / 1時間
        h2
          | #{car.name}
          span #{car.store.access}
      ul.car_list_img.js-flickity
        -car.car_images.each do |car_image|
          li.gallery-cell
            =image_tag(car_image.image.to_s)
      .shop_info
        p
          | 受け取り場所
          = link_to "#{car.store.name}", car.store.url, target: "_blank"
      h3.option_list_title 利用可能オプション
      ul.option_list
        -car.options.each do |option|
          li =option.name
      -if car.owner
        .owner_info.clearfix
          p.owner_img
            =image_tag(car.owner.image.to_s)
          .owner_name_box
            p.owner_name =car.owner.name
          p.owner_description
      section.car_review
        h3 レビュー一覧
        ul.car_review_list
          -car.reviews.each do |review|
            -if review.user.try(:profile)
              li
                p.reviewer_img
                  -if review.user.profile.image?
                    =image_tag(review.user.profile.image.to_s)
                  -else
                    =image_tag("owner_img.png")
                .reviewer_info_box
                  p.reviewer_name
                    | レビュー
                    span #{review.user.profile.name}さん
                  p.reviewer_info
                    span #{review.user.profile.age}
                    span #{review.user.profile.gender}
                    span #{review.user.profile.profession}
                  p.review_day 乗車日：2018年11月
                p.reviewer_text =review.description

      = link_to "車を選択", cars_path(car_id: car.id) , class: "car_list_link"
