= stylesheet_link_tag "home/car_search", :media => "all"
= stylesheet_link_tag "sticky-state", :media => "all"
= stylesheet_link_tag "flickity", :media => "all"
= javascript_include_tag "sticky-state.min.js"
= javascript_include_tag "flickity.pkgd.min.js"

article
  .breadcrumbs
    ul
      li
        = link_to "HOME", root_path
      li
        = link_to "車を探す", searchs_path
      -if @prefecture.present?
        li =@prefecture.name
      -elsif @category.present?
        li =@category.name
  //pc用サーチナビ
  .search_term
    #back_area
    p.search_term_p 絞り込み条件
    -if @prefecture.present?
      span.area_toggle.selected =@prefecture.name
    -else
      span.area_toggle.selected 東京都
    .toggle_box.area_box
      -@prefectures.each do |prefecture|
        =link_to prefecture.name, car_searchs_path(pre: prefecture.uniq_name)
    span.time_toggle.none_select 時間
    .toggle_box.time_box
      p.time_box_title 出発時間
      = datetime_select :date, :start_time, minute_step: 30
      p.time_box_title 返却時間
      = datetime_select :date, :end_time, minute_step: 30
      = button_tag "検索", type: 'submit', class: "search_button", onclick: "date_search()"
    -if @category
      span.category_toggle.selected 車種
    -else
      span.category_toggle.none_select 車種
    .toggle_box.category_box
      -@categories.each do |category|
        .category
          = check_box_tag 'category', category.name, checked = false, :id => "category_#{category.id}"
          = label_tag "category_#{category.id}", category.name
      = button_tag "検索", type: 'submit', class: "search_button", onclick: "category_search()"
    -if @option
      span.option_toggle.selected オプション
    -else
      span.option_toggle.none_select オプション
    .toggle_box.option_box
      -@options.each do |option|
        .option
          = check_box_tag 'option', option.name, checked = false, :id => "option_#{option.id}"
          = label_tag "option_#{option.id}", option.name
      = button_tag "検索", type: 'submit', class: "search_button", onclick: "option_search()"
  .contents
    section.car_list
      .h1_box
        -if @store.present?
          h1 「#{@store.name}」で受け取り場所ができる車
        -elsif @prefecture.present?
          h1 「#{@prefecture.name}」で受け取り場所ができる車
        p.car_number
          | 登録台数
          span #{@cars.count}
          | 台
      =render partial: "car_list"
    .map.sticky.toggle_box.map_box
      .map_container
        #map
  #close_area

javascript:
  $(function() {
    $('.js-flickity').flickity({
      wrapAround: true
    });
  });
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = #{raw @hash.to_json}
    Gmaps.store = {}
    Gmaps.store.markers = markers.map(function(m) {
      marker = handler.addMarker(m);
      marker.serviceObject.set('id', m.id);
      marker.serviceObject.set('infowindow', m.infowindow);
      return marker;
    });
    handler.bounds.extendWith(Gmaps.store.markers);
    handler.fitMapToBounds();
    handler.getMap().setCenter(new google.maps.LatLng(#{@latitude}, #{@longitude}));
    handler.getMap().setZoom(12);
    google.maps.event.addListener(handler.getMap(), "open", function(id) {
      $.each(Gmaps.store.markers, function() {
        if (this.serviceObject.id == id) {
          infowindow = new google.maps.InfoWindow({
            content: this.serviceObject.infowindow
          });
          infowindow.open(this.serviceObject.map, this.serviceObject);
        }
      });
    });
  });
  $(function() {
    $('.area_toggle').click(function () {
        $('.toggle_box').hide();
        $('.area_box').show();
        $('#close_area').show();
        $('#back_area').show();
    });
    $('.time_toggle').click(function () {
        $('.toggle_box').hide();
        $('.time_box').show();
        $('#close_area').show();
        $('#back_area').show();
    });
    $('.category_toggle').click(function () {
        $('.toggle_box').hide();
        $('.category_box').show();
        $('#close_area').show();
        $('#back_area').show();
    });
    $('.option_toggle').click(function () {
        $('.toggle_box').hide();
        $('.option_box').show();
        $('#close_area').show();
        $('#back_area').show();
    });
    $('.map_toggle').click(function () {
        $('.toggle_box').hide();
        $('.map_box').show();
        $('#close_area').show();
        $('#back_area').show();
    });
    $('#close_area').click(function () {
        $('.toggle_box').hide();
        $('#close_area').hide();
        $('#back_area').hide();
    });

  });

  function date_search(){
    var start_times = []
    start_times.push(date_start_time_1i.value);
    start_times.push(date_start_time_2i.value);
    start_times.push(date_start_time_3i.value);
    start_times.push(date_start_time_4i.value);
    start_times.push(date_start_time_5i.value);
    var end_times = []
    end_times.push(date_end_time_1i.value);
    end_times.push(date_end_time_2i.value);
    end_times.push(date_end_time_3i.value);
    end_times.push(date_end_time_4i.value);
    end_times.push(date_end_time_5i.value);
    $.ajax({
      type: 'get',
      url: "/detail_search",
      dataType: 'html',
      data: {pre: "#{params[:pre]}", cat: "#{params[:cat]}", start_times: start_times, end_times: end_times},
      success: function(data){
        window.location.href = data;
      }
    })
  }

  function option_search(){
    var options = []
    $(".option :checkbox:checked").each(function() {
      options.push(this.id);
    })
    $.ajax({
      type: 'get',
      url: "/detail_search",
      dataType: 'html',
      data: {pre: "#{params[:pre]}", cat: "#{params[:cat]}", option: options},
      success: function(data){
        window.location.href = data;
      }
    })
  }

  function category_search(){
    var categories = []
    $(".category :checkbox:checked").each(function() {
      categories.push(this.id);
    })
    $.ajax({
      type: 'get',
      url: "/detail_search",
      dataType: 'html',
      data: {pre: "#{params[:pre]}", category: categories},
      success: function(data){
        window.location.href = data;
      }
    })
  }
