= stylesheet_link_tag "home/reserve02", :media => "all"

article
  section.reserve
    h1
      | 予約
      br
      span RESERVE
    p.reserve_flow
      =image_tag("reserve_flow02.png")

    p.reserve_title 予約の内容を確認してください。
    .reserve_flow_box01
      .reserve_car
        p.reserve_car_title =@car.name
        p.reserve_car_img
          -if @car.car_images.present?
            -if @car.car_images.first.image?
              =image_tag(@car.car_images.first.image.to_s)
            -else
              =image_tag("reserve_car_img.png")
        ul.option_list
          -@car.options.each do |option|
            li =option.name
      .reserve_info
        p.reserve_day #{@provisional_reservation.start_date.strftime('%Y年%m月%d日')}#{@provisional_reservation.start_time.strftime('%H:%M')}　→　#{@provisional_reservation.end_date.strftime('%Y年%m月%d日')}#{@provisional_reservation.end_time.strftime('%H:%M')}
        .reserve_money
          .money_line
            p 保険料
            p #{@provisional_reservation.insurance_fee}円
          .money_line
            p オプション料金
            p #{@provisional_reservation.option_price}円
          .money_line.bottom_line
            p ご利用料金
            p #{@provisional_reservation.price}円
          .total_money
            p 合計
            p #{@provisional_reservation.total}円
    .reserve_flow_box02
      .reserve_detail
        p
          |受け取り場所
          span #{@car.store.name}
          = link_to "地図で確認する" , "https://www.google.co.jp/maps/search/#{@car.store.name}", target: "_blank"
        p
          |受取日時
          span #{@provisional_reservation.start_date.strftime('%Y年%m月%d日')}#{@provisional_reservation.start_time.strftime('%H:%M')}
        p
          |返却日時
          span #{@provisional_reservation.end_date.strftime('%Y年%m月%d日')}#{@provisional_reservation.end_time.strftime('%H:%M')}
      .reserve_next_button
        = link_to "同意して続行" , reserve03_path(res_id: params[:res_id]), class: "reserve_next"
