<%= stylesheet_link_tag "home/signup", :media => "all" %>

<article>
    <div class="breadcrumbs">
      <ul>
        <li><%= link_to "HOME", root_path %></li>
        <li>新規登録</li>
      </ul>
    </div>
    <section class="signup">
    <h1>新規登録<br><span>SIGN UP</span></h1>
    <%= devise_error_messages %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="form-inputs">
        <p>メールアドレス</p>
        <%= f.input :email,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" }%>
        <p>パスワード(6文字以上)</p>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <p>パスワード確認</p>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "新規登録をする" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</article>
