= stylesheet_link_tag "home/admin", :media => "all"

article
  section.admin
    h1 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗一覧", admins_path
          li
            = link_to "店舗登録", admin_store_path
          li
            = link_to "免許証の確認待ち", admin_license_path
          li
            = link_to "ユーザ一覧", admin_user_path
          li
            = link_to "予約一覧", admin_reservation_path, class: "selected"
      .admin_contents
        h2 予約一覧
        .admin_contents_inner
          .admin_reservelists
            table
              thead
                tr
                  th 車名
                  th 予約日
                  th 返却日
                  th 料金
                  th 状態
              tbody
                -@reservations.each do |reservation|
                  tr
                    td = reservation.car.name
                    td #{reservation.start_date.strftime('%Y年%m月%d日')}#{reservation.start_time.strftime('%H:%M')}
                    td #{reservation.end_date.strftime('%Y年%m月%d日')}#{reservation.end_time.strftime('%H:%M')}
                    td = reservation.total
                    td
                      -if reservation.state == "returned"
                        p 返却ずみ
                      -elsif reservation.state == "rental"
                        =link_to "返却完了", admin_return_car_path(res_id: reservation.id, tab: "returned")
                      -elsif reservation.state == "acceptance"
                        =link_to "受け渡し完了", admin_return_car_path(res_id: reservation.id, tab: "rental")
                = paginate @reservations
