= stylesheet_link_tag "home/admin", :media => "all"

article
  section.admin
    h1 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗一覧", admins_path
          li
            = link_to "店舗登録", admin_store_path
          li
            = link_to "免許証の確認待ち", admin_license_path, class: "selected"
          li
            = link_to "ユーザ一覧", admin_user_path
          li
            = link_to "予約一覧", admin_reservation_path
      .admin_contents
        h2 免許証の確認待ち
        .admin_contents_inner
          .license_lists
            table
              thead
                tr
                  th ユーザー名
                  th 画像
                  th 状態
              tbody
                -@licenses.each do |license|
                  tr
                    td
                      -if license.user.profile
                        =license.user.profile.try(:name)
                    td =image_tag(license.image.to_s)
                    td
                      -if license.approval
                        p 承認済み
                      -else
                        =link_to "承認する", admin_license_approval_path(id: license.id)
                = paginate @licenses
