= stylesheet_link_tag "home/admin", :media => "all"

article
  section.admin
    h1 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗一覧", admins_path, class: "selected"
          li
            = link_to "店舗登録", admin_store_path
          li
            = link_to "免許証の確認待ち", admin_license_path
          li
            = link_to "ユーザ一覧", admin_user_path
          li
            = link_to "予約一覧", admin_reservation_path
      .admin_contents
        h2 店舗編集
        .admin_contents_inner
          =simple_form_for @store, url: admin_store_update_path(id: @store.id)  do |f|
            p　店舗名
            = f.input :name, label: false
            p 電話番号
            = f.input :tel, label: false
            p メールアドレス
            = f.input :email, label: false
            p 画像
            = f.input :image, label: false, as: :file
            p 店舗URL
            = f.input :url, label: false
            p アクセス
            = f.input :access, label: false
            p 営業開始時間
            = f.input :business_hour_start, label: false
            p 営業終了時間
            = f.input :business_hour_end, label: false
            p 郵便番号
            = f.input :zip_code, label: false
            p 住所
            = f.input :address, label: false
            p 緯度(Map表示用)
            =link_to "こちらに住所を入力で検索可能", "https://www.geocoding.jp", target: "_blank"
            = f.input :latitude, label: false
            p 経度(Map表示用)
            =link_to "こちらに住所を入力で検索可能", "https://www.geocoding.jp", target: "_blank"
            = f.input :longitude, label: false
            p 都道府県(検索用)
            = f.input :prefecture_id, label: false, collection: Prefecture.all, label_method: :name, value_method: :id
            = f.button :submit, "更新"
