= stylesheet_link_tag "home/admin", :media => "all"

article
  section.admin
    h1 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗一覧", admins_path
          li
            = link_to "店舗登録", admin_store_path
          li
            = link_to "免許証の確認待ち", admin_license_path
          li
            = link_to "ユーザ一覧", admin_user_path, class: "selected"
          li
            = link_to "予約一覧", admin_reservation_path
      .admin_contents
        h2 ユーザー一覧
        .admin_contents_inner
          .admin_user
            table
              thead
                tr
                  th メールアドレス
                  th 店舗
                  th 権限
              tbody
                - @users.each do |user|
                  tr
                    td= user.email
                    td= select_tag :store_id, options_for_select(Store.all.map{|store|store.name},user.store.try(:name)),{:onchange => 'change_store(this)',:include_blank => true, id:user.id}
                    td= select_tag :role, options_for_select([["管理者", "admin"],["契約店", "contracted"]], user.roles.map{|role| role.name}.join(", ")), {:onchange => 'change_role(this)', :include_blank => true, id:user.id}
            = paginate @users

javascript:
  function change_role(data){
    var selecter = data.selectedIndex;
    var value = data.options[selecter].value;
    $.ajax({
      type: 'patch',
      url: 'role_change',
      data: {id: data.id , role: value}
    });
  };

  function change_store(data){
    var selecter = data.selectedIndex;
    var value = data.options[selecter].value;
    $.ajax({
      type: 'patch',
      url: 'store_change',
      data: {id: data.id , store: value}
    });
  };
