= stylesheet_link_tag "home/admin", :media => "all"

article
  section.admin
    h1 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗一覧", admins_path, class: "selected"
          li
            = link_to "店舗登録", admin_store_path
          li
            = link_to "免許証の確認待ち", admin_license_path
          li
            = link_to "ユーザ一覧", admin_user_path
          li
            = link_to "予約一覧", admin_reservation_path
      .admin_contents
        h2 店舗一覧
        .admin_contents_inner
          .store_lists
            table
              thead
                tr
                  th 店舗名
                  th 住所
                  th 電話番号
                  th 
              tbody
                -@stores.each do |store|
                  tr
                    td = store.name
                    td = store.address
                    td = store.tel
                    td = link_to '編集', admin_store_edit_path(id: store.id)
                = paginate @stores
