予約が入っています。
以下を確認し、貸出の準備をお願いいたします。

【予約詳細】
レンタル車:<%= @car.name %>
予約日:<%= @provisional_reservation.start_date.strftime('%Y年%m月%d日') %><%= @provisional_reservation.start_time.strftime('%H:%M') %>
返却日:<%= @provisional_reservation.end_date.strftime('%Y年%m月%d日') %><%= @provisional_reservation.end_time.strftime('%H:%M') %>
レンタル料金: <%= @provisional_reservation.total %> 円


────────────────────
ワンズシェアからのメール
https://ones-share.com/

▼本メールについて
※このメールは返信しても届きません。

▼送信者に関する情報
株式会社ワンズネットワーク
〒274-0071
千葉県船橋市習志野1-8-1
http://www.ones-rent.com/static/fcplan/company.html
