おめでとうございます！ご予約が完了しました！
予約の詳細は以下をご確認ください。

また予約についての不明点は、以下の受け取り店舗にお問い合わせください。

素晴らしいワンズシェア体験をお過ごしくださいね。

【詳細】
レンタル車:<%= @car.name %>
予約日:<%= @provisional_reservation.start_date.strftime('%Y年%m月%d日') %><%= @provisional_reservation.start_time.strftime('%H:%M') %>
返却日:<%= @provisional_reservation.end_date.strftime('%Y年%m月%d日') %><%= @provisional_reservation.end_time.strftime('%H:%M') %>
ドライバー人数:<%= @provisional_reservation.number %>

【値段】
レンタル料金 <%= @provisional_reservation.total %> 円

【受け取り店舗】
<%= @store.name %>
電話番号:<%=@store.tel %>
住所:<%=@store.address %>


────────────────────
ワンズシェアからのメール
https://ones-share.com/

▼本メールについて
※このメールは返信しても届きません。

▼送信者に関する情報
株式会社ワンズネットワーク
〒274-0071
千葉県船橋市習志野1-8-1
http://www.ones-rent.com/static/fcplan/company.html
