ul.serch_category
  li
    = link_to "場所から探す", home_serach_path(tag: "area"), { remote: true, class: "selected" }
  li
    = link_to "車体から探す", home_serach_path(tag: "car"), { remote: true }
  li
    = link_to "特集から探す", home_serach_path(tag: "feature"), { remote: true }
table
  tr
    th 北海道地方
    td
      ul
        li
          = link_to "北海道", car_searchs_path(pre: "PRE1")
  tr
    th 東北地方
    td
      ul
        li
          = link_to "青森県", car_searchs_path(pre: "PRE2")
        li
          = link_to "岩手県", car_searchs_path(pre: "PRE3")
        li
          = link_to "宮城県", car_searchs_path(pre: "PRE4")
        li
          = link_to "秋田県", car_searchs_path(pre: "PRE5")
        li
          = link_to "山形県", car_searchs_path(pre: "PRE6")
        li
          = link_to "福島県", car_searchs_path(pre: "PRE7")
  tr
    th 関東地方
    td
      ul
        li
          = link_to "茨木県", car_searchs_path(pre: "PRE8")
        li
          = link_to "栃木県", car_searchs_path(pre: "PRE9")
        li
          = link_to "群馬県", car_searchs_path(pre: "PRE10")
        li
          = link_to "埼玉県", car_searchs_path(pre: "PRE11")
        li
          = link_to "千葉県", car_searchs_path(pre: "PRE12")
        li
          = link_to "東京都", car_searchs_path(pre: "PRE13")
        li
          = link_to "埼玉県", car_searchs_path(pre: "PRE14")
  tr
    th 中部地方
    td
      ul
        li
          = link_to "新潟県", car_searchs_path(pre: "PRE15")
        li
          = link_to "富山県", car_searchs_path(pre: "PRE16")
        li
          = link_to "石川県", car_searchs_path(pre: "PRE17")
        li
          = link_to "福井県", car_searchs_path(pre: "PRE18")
        li
          = link_to "山梨県", car_searchs_path(pre: "PRE19")
        li
          = link_to "長野県", car_searchs_path(pre: "PRE20")
        li
          = link_to "岐阜県", car_searchs_path(pre: "PRE21")
        li
          = link_to "静岡県", car_searchs_path(pre: "PRE22")
        li
          = link_to "愛知県", car_searchs_path(pre: "PRE23")
  tr
    th 近畿地方
    td
      ul
        li
          = link_to "三重県", car_searchs_path(pre: "PRE24")
        li
          = link_to "滋賀県", car_searchs_path(pre: "PRE25")
        li
          = link_to "京都府", car_searchs_path(pre: "PRE26")
        li
          = link_to "大阪府", car_searchs_path(pre: "PRE27")
        li
          = link_to "兵庫県", car_searchs_path(pre: "PRE28")
        li
          = link_to "奈良県", car_searchs_path(pre: "PRE29")
        li
          = link_to "和歌山県", car_searchs_path(pre: "PRE30")
  tr
    th 中国地方
    td
      ul
        li
          = link_to "鳥取県", car_searchs_path(pre: "PRE31")
        li
          = link_to "島根県", car_searchs_path(pre: "PRE32")
        li
          = link_to "岡山県", car_searchs_path(pre: "PRE33")
        li
          = link_to "広島県", car_searchs_path(pre: "PRE34")
        li
          = link_to "山口県", car_searchs_path(pre: "PRE35")
  tr
    th 四国地方
    td
      ul
        li
          = link_to "徳島県", car_searchs_path(pre: "PRE36")
        li
          = link_to "愛媛県", car_searchs_path(pre: "PRE37")
        li
          = link_to "香川県", car_searchs_path(pre: "PRE38")
        li
          = link_to "高知県", car_searchs_path(pre: "PRE39")
  tr
    th 九州地方
    td
      ul
        li
          = link_to "福岡県", car_searchs_path(pre: "PRE40")
        li
          = link_to "佐賀県", car_searchs_path(pre: "PRE41")
        li
          = link_to "長崎県", car_searchs_path(pre: "PRE42")
        li
          = link_to "熊本県", car_searchs_path(pre: "PRE43")
        li
          = link_to "大分県", car_searchs_path(pre: "PRE44")
        li
          = link_to "鹿児島県", car_searchs_path(pre: "PRE45")
        li
          = link_to "宮崎県", car_searchs_path(pre: "PRE46")
        li
          = link_to "沖縄県", car_searchs_path(pre: "PRE47")
