ul.serch_category
  li
    = link_to "場所から探す", home_serach_path(tag: "area"), { remote: true }
  li
    = link_to "車体から探す", home_serach_path(tag: "car"), { remote: true, class: "selected" }
  li
    = link_to "特集から探す", home_serach_path(tag: "feature"), { remote: true }

table
  tr
    th 基本車輛クラス
    td
      ul
        li
          = link_to "Ｍ", car_searchs_path(cat: "CAT1")
        li
          = link_to "Ｍ(軽)", car_searchs_path(cat: "CAT2")
        li
          = link_to "B", car_searchs_path(cat: "CAT3")
        li
          = link_to "L", car_searchs_path(cat: "CAT4")
        li
          = link_to "1BOX", car_searchs_path(cat: "CAT5")
        li
          = link_to "HV", car_searchs_path(cat: "CAT6")
  tr
    th SPクラス
    td
      ul
        li
          = link_to "Ｍ-SP", car_searchs_path(cat: "CAT7")
        li
          = link_to "Ｍ(軽)-SP", car_searchs_path(cat: "CAT8")
        li
          = link_to "B-SP", car_searchs_path(cat: "CAT9")
        li
          = link_to "L-SP", car_searchs_path(cat: "CAT10")
        li
          = link_to "1BOX-SP", car_searchs_path(cat: "CAT11")
        li
          = link_to "HV-SP", car_searchs_path(cat: "CAT12")
  tr
    th 貨物車輛クラス
    td
      ul
        li
          = link_to "T1", car_searchs_path(cat: "CAT13")
        li
          = link_to "T1(軽)", car_searchs_path(cat: "CAT14")
        li
          = link_to "T1-SP", car_searchs_path(cat: "CAT15")
        li
          = link_to "T2", car_searchs_path(cat: "CAT16")
        li
          = link_to "T3", car_searchs_path(cat: "CAT17")
