ul.serch_category
  li
    = link_to "場所から探す", home_serach_path(tag: "area"), { remote: true }
  li
    = link_to "車体から探す", home_serach_path(tag: "car"), { remote: true }
  li
    = link_to "特集から探す", home_serach_path(tag: "feature"), { remote: true, class: "selected" }
