ul.js-flickity
  -@reviews.each do |review|
    -if review.user.try(:profile)
      li.review_cell
        -if review.user.profile.image?
          =image_tag(review.user.profile.image.to_s, :class => "review_img")
        -else
          =image_tag("review.png", :class => "review_img")
        p.review_profile
          | #{review.user.profile.name}
          span.text01 さん（#{review.user.profile.age}歳）
          br
          span.text02 #{review.user.profile.profession}
        section.review_text
          h3 =review.title
          p =review.description
