<% if @tag == "area" %>
  $('.partial_box').html("<%= j (render 'area_serach') %>");
<% elsif @tag == "car" %>
  $('.partial_box').html("<%= j (render 'car_serach') %>");
<% elsif @tag == "feature" %>
  $('.partial_box').html("<%= j (render 'feature_serach') %>");
<% end %>
