= stylesheet_link_tag "home/index", :media => "all"
= stylesheet_link_tag "flickity", :media => "all"
= javascript_include_tag "flickity.pkgd.min.js"

article
  ul.top_header.js-flickity
    section.top_header_inner
      =image_tag("top_image02.jpg")
      h1
        | 手間いらずで安心
        br
        | 格安マイカーシェアリング。
    li.gallery-cell
      =image_tag("top_image.png")
    li.gallery-cell
      =image_tag("top_image.png")
    li.gallery-cell
      =image_tag("top_image.png")
    li.gallery-cell
      =image_tag("top_image.png")
  .top_links
    p どちらでマイカーシェアリングを楽しみますか？
    .top_links_inner
      a.top_link href="/searchs"
        =image_tag("search_icon.png")
        .text_box
          | ドライバー
          br
          span として車を探す
      a.top_link href="/consider"
        =image_tag("car_icon.png", :class => "car_img")
        .text_box
          | オーナー
          br
          span として車を登録する
  section.content
    section.content_inner
      section.about
        h2
          | ワンズシェアってどんなサービス？
          br
          span ABOUT
        section.about_box.driver#driver
          h3
            | 車を借りる人
            br
            span DRIVER
          p.pc_about
            =image_tag("driver_flow_img.png")
          ul.sp_about.js-flickity01
            li.gallery-cell
              =image_tag("driver_step1.png")
            li.gallery-cell
              =image_tag("driver_step2.png")
            li.gallery-cell
              =image_tag("driver_step3.png")
            li.gallery-cell
              =image_tag("driver_step4.png")
          = link_to "もっと詳しく知りたい方はこちら", abouts_path, class: "about_box_link"
        section.about_box.owner#owner
          h3
            | 車を貸す人
            br
            span OWNER
          p.pc_about
            =image_tag("owner_flow_img.png")
          ul.sp_about.js-flickity01
            li.gallery-cell
              =image_tag("owner_step1.png")
            li.gallery-cell
              =image_tag("owner_step2.png")
            li.gallery-cell
              =image_tag("owner_step3.png")
            li.gallery-cell
              =image_tag("owner_step4.png")
          = link_to "オーナーを検討されている方はこちら", consider_path, class: "about_box_link"
      section.serch
        h2
          | 車を探す
          br
          span SEARCH
        .partial_box
          =render partial: "area_serach"

      section.experience
        h2
          | 安心・安全なワンズシェア
          br
          span EXPERIENCE
        p.experience_copy ワンズシェアは「個人間カーシェアリングの問題」を解決します。
        p.experience_pc_img
          =image_tag("experience.png")
        p.experience_sp_img
          =image_tag("experience_sp.png")
      section.review
        h2
          | 利用者の感想
          br
          span REVIEW
        =render partial: "review"


      section.news
        h2
          | ニュース
          br
          span NEWS
        =render partial: "news"
        = link_to "もっと見る", news_index_path, class: "news_more_link"

javascript:
  $(function() {
    $('.js-flickity').flickity({
      wrapAround: true
    });
    $('.js-flickity01').flickity({
      wrapAround: false
    });
  });
