= stylesheet_link_tag "home/news", :media => "all"
article
  .breadcrumbs
    ul
      li
        = link_to "HOME", root_path
      li NEWS
  section.news
    h2
      | ニュース
      br
      span NEWS
    =render partial: "news"
