= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path, class: "selected"
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 登録車一覧
        .store_admin_contents_inner
          .store_admin_carlists
            table
              thead
                tr
                  th 車名
                  th 車種
                  th オーナー名
                  th
              tbody
                -@cars.each do |car|
                  tr
                    td = car.name
                    td M
                    td オーナー名
                    td =link_to "編集", acceptance_car_edit_path(id: car.id)
