= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path, class: "selected"
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 店舗情報
        .store_admin_contents_inner
          .store_admin_info
            table
              tr
                th 店舗名
                td =@store.name
              tr
                th 電話番号
                td =@store.tel
              tr
                th メールアドレス
                td =@store.email
              tr
                th 店舗URL
                td =link_to "#{@store.url}", @store.url, target: "_blank"
              tr
                th アクセス
                td =@store.access
              tr
                th 郵便番号
                td =@store.zip_code
              tr
                th 住所
                td =@store.address
              tr
                th 営業開始時間
                td =@store.business_hour_start.strftime('%H:%M')
              tr
                th 営業終了時間
                td =@store.business_hour_end.strftime('%H:%M')
            =link_to '編集', store_admin_edit_path
