= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path, class: "selected"
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 受け取り車のチェック
        .store_admin_contents_inner
          = simple_nested_form_for Car.new, url: owner_car_create_path  do |f|
            p 名前
            = f.input :name, label: false, require: true
            p 説明
            = f.input :description, label: false, require: true
            p 席数
            = f.input :seat, label: false, require: true
            p カテゴリー
            = f.input :category_id, label: false, require: true, collection: Category.all, label_method: :name, value_method: :id
            = f.simple_fields_for :car_options do |f2|
              p オプション
              =f2.input :option_id, label: false, require: true, collection: Option.all, label_method: :name, value_method: :id
              =f2.link_to_remove "条件を削除"
            = f.link_to_add "オプションを追加", :car_options
            = f.simple_fields_for :car_images do |f3|
              p 車の画像
              =f3.input :image, label: false, require: true, as: :file
              =f3.link_to_remove "画像を削除"
            = f.link_to_add "画像を追加", :car_images

            = f.input :owner_id, as: :hidden, input_html: {value: @owner.id}
            = f.input :store_id, as: :hidden, input_html: {value: @store.id}
            = f.button :submit, "車を登録する"
