= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 オーナーの承認と車受け取り日時の確定
        .store_admin_contents_inner
          .store_admin_owner_entry
            table
              tr
                th 名前
                td =@owner.name
              tr
                th 住所
                td =@owner.address
              tr
                th 生年月日
                td =@owner.birth_day
              tr
                th 希望日時（ 選択してください ）
                td = select_tag 'receipt_date', options_for_select([["#{@owner.first_receipt_date.strftime('%Y年%m月%d日%H:%M')}"], ["#{@owner.second_receipt_date.strftime('%Y年%m月%d日%H:%M')}"], ["#{@owner.third_receipt_date.strftime('%Y年%m月%d日%H:%M')}"]])
            .store_admin_owner_entry_button
              = button_tag "日付を確認して承認する", type: 'submit', onclick: "owner_approval()"


javascript:
  function owner_approval(){
    var id = "#{params[:id]}"
    var receipt_date = $('#receipt_date')[0].value
    $.ajax({
      type: 'post',
      url: '/owner_approval',
      dataType: 'html',
      data: {receipt_date: receipt_date, id: id},
      success: function(data){
        window.location.href = '/owner_entry';
      }
    });
  }
