= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 オーナー申請一覧
        .store_admin_contents_inner
          .store_admin_ownerlists
            table
              thead
                tr
                  th 名前
                  th 車名
                  th 車種
                  th 申請日時
                  th
              tbody
                -@owners.each do |owner|
                  tr
                    td = owner.name
                    td アルファード
                    td M
                    td 2019/2/2 13:45
                    td =link_to "詳細", owner_entry_infomation_path(id: owner.id)
