= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path, class: "selected"
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
        h2 車受け取り可能時間設定
        .store_admin_contents_inner
          =simple_form_for @store, url: store_admin_update_path(id: @store.id)  do |f|
            p 受け取り可能時間
            = f.input :receipt_description, label: false
            = f.button :submit, "更新"
