= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path, class: "selected"
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path
      .store_admin_contents
          h2 店舗情報編集
          .store_admin_contents_inner
            =simple_form_for @store, url: store_admin_update_path(id: @store.id)  do |f|
              p　店舗名
              = f.input :name, label: false
              p 電話番号
              = f.input :tel, label: false
              p メールアドレス
              = f.input :email, label: false
              p 画像
              = f.input :image, label: false, as: :file
              p 店舗URL
              = f.input :url, label: false
              p アクセス
              = f.input :access, label: false
              p 営業開始時間
              = f.input :business_hour_start, label: false
              p 営業終了時間
              = f.input :business_hour_end, label: false
              p 郵便番号
              = f.input :zip_code, label: false
              p 住所
              = f.input :address, label: false
              p 緯度(Map表示用)
              =link_to "こちらに住所を入力で検索可能", "https://www.geocoding.jp", target: "_blank"
              = f.input :latitude, label: false
              p 経度(Map表示用)
              =link_to "こちらに住所を入力で検索可能", "https://www.geocoding.jp", target: "_blank"
              = f.input :longitude, label: false
              p 都道府県(検索用)
              = f.input :prefecture_id, label: false, collection: Prefecture.all, label_method: :name, value_method: :id
              = f.button :submit, "更新"
