= stylesheet_link_tag "home/store_admin", :media => "all"

article
  section.store_admin
    h1 #{@store.name} 管理画面
    .contents
      .nav_toggle_button メニュー
      .ownerpage_nav
        ul
          li
            = link_to "店舗情報", store_admins_path
          li
            = link_to "車受け取り可能時間設定", receipt_date_set_path
          li
            = link_to "オーナー申請一覧", owner_entry_path
          li
            = link_to "車受け取り予定", owner_acceptance_path
          li
            = link_to "登録車一覧", acceptance_car_path
          li
            = link_to "予約一覧", store_admin_reservation_path, class: "selected"
      .store_admin_contents
        .store_admin_contents_inner
          .store_admin_reservelists
            table
              thead
                tr
                  th 車名
                  th 予約日
                  th 返却日
                  th 料金
                  th 状態
              tbody
                -@reservations.each do |reservation|
                  tr
                    td = reservation.car.name
                    td #{reservation.start_date.strftime('%Y年%m月%d日')}#{reservation.start_time.strftime('%H:%M')}
                    td #{reservation.end_date.strftime('%Y年%m月%d日')}#{reservation.end_time.strftime('%H:%M')}
                    td = reservation.total
                    td
                      -if reservation.state == "returned"
                        p 返却ずみ
                      -elsif reservation.state == "rental"
                        =link_to "返却完了", admin_return_car_path(res_id: reservation.id, tab: "returned")
                      -elsif reservation.state == "acceptance"
                        =link_to "受け渡し完了", admin_return_car_path(res_id: reservation.id, tab: "rental")
                = paginate @reservations
