= stylesheet_link_tag "home/mypage", :media => "all"

article
  section.mypage
    h1 マイページ
    .contents
      .nav_toggle_button メニューを開く
      .mypage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span ユーザー名
        ul
          li
            = link_to "プロフィールの編集", profile_path
          /li
            = link_to "免許証の確認", license_path
          li
            = link_to "レビュー", review_path
        h2 アカウント
        ul
          /li
            = link_to "通知", notification_path
          /li
            = link_to "お支払い方法", payment_path
          /li
            = link_to "プライバシー", privacy_path
          li
            = link_to "パスワード設定", password_path
          /li
            = link_to "各種設定", detail_path
        h2 予約
        ul
          li
            = link_to "予約一覧", mypages_path, class: "selected"
        h2 その他
        ul
          li
            = link_to 'ログアウトする', destroy_user_session_path, method: :delete
      .mypage_contents
        -@reservations.each do |reservation|
          .reserve_flow_box
            .reserve_flow_box01
              .reserve_car
                p.reserve_car_title =reservation.car.name
                p.reserve_car_img
                  -if reservation.car.car_images.present?
                    =image_tag(reservation.car.car_images.first.image.to_s)
                ul.option_list
                  -reservation.car.options.each do |option|
                    li =option.name
              .reserve_info
                p.reserve_day お支払い料金
                .reserve_money
                  .money_line
                    p 保険料
                    p #{reservation.insurance_fee}円
                  .money_line.bottom_line
                    p ご利用料金
                    p #{reservation.price}円
                  .total_money
                    p 合計
                    p #{reservation.total}円
            .reserve_flow_box02
              .reserve_detail
                p
                  |受け取り場所
                  span #{reservation.car.store.name}
                  = link_to "地図で確認する" , "https://www.google.co.jp/maps/search/#{reservation.car.store.name}", target: "_blank"
                p
                  |受取日時
                  span #{reservation.start_date.strftime('%Y年%m月%d日')}#{reservation.start_time.strftime('%H:%M')}
                p
                  |返却日時
                  span #{reservation.end_date.strftime('%Y年%m月%d日')}#{reservation.end_time.strftime('%H:%M')}
              .reserve_next_button
                = link_to "詳細" ,reserve_conditions_path(res_id: reservation.id), class: "reserve_next"
        h3 過去のレンタル履歴

  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
