= stylesheet_link_tag "home/mypage", :media => "all"

article
  section.mypage
    h1 マイページ
    .contents
      .nav_toggle_button メニューを開く
      .mypage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span ユーザー名
        ul
          li
            = link_to "プロフィールの編集", profile_path, class: "selected"
          /li
            = link_to "免許証の確認", license_path
          li
            = link_to "レビュー", review_path
        h2 アカウント
        ul
          /li
            = link_to "通知", notification_path
          /li
            = link_to "お支払い方法", payment_path
          /li
            = link_to "プライバシー", privacy_path
          li
            = link_to "パスワード設定", password_path
          /li
            = link_to "各種設定", detail_path
        h2 予約
        ul
          li
            = link_to "予約一覧", mypages_path
        h2 その他
        ul
          li
            = link_to 'ログアウトする', destroy_user_session_path, method: :delete
      .mypage_contents
        -if @profile
          =simple_form_for @profile, url: profile_update_path(id: @profile)  do |f|
            p 名前
            = f.input :name, label: false
            p 画像
            = f.input :image, label: false, as: :file
            p 性別
            = f.input :gender, label: false, collection: ["男","女"]
            p 生年月日
            = f.input :birth_day, label: false, start_year: Date.today.year, end_year: Date.today.year - 110
            p 職業
            = f.input :profession, label: false
            = f.button :submit, "更新"
        -else
          =simple_form_for Profile.new, url: profile_create_path  do |f|
            p 名前
            = f.input :name, label: false
            p 画像
            = f.input :image, label: false, as: :file
            p 性別
            = f.input :gender, label: false, collection: ["男","女"]
            p 生年月日
            = f.input :birth_day, label: false, start_year: Date.today.year, end_year: Date.today.year - 110
            p 職業
            = f.input :profession, label: false
            = f.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
            = f.button :submit, "更新"
  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
