= stylesheet_link_tag "home/mypage", :media => "all"

article
  section.mypage
    h1 マイページ
    .contents
      .nav_toggle_button メニューを開く
      .mypage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span ユーザー名
        ul
          li
            = link_to "プロフィールの編集", profile_path
          /li
            = link_to "免許証の確認", license_path
          li
            = link_to "レビュー", review_path, class: "selected"
        h2 アカウント
        ul
          /li
            = link_to "通知", notification_path
          /li
            = link_to "お支払い方法", payment_path
          /li
            = link_to "プライバシー", privacy_path
          li
            = link_to "パスワード設定", password_path
          /li
            = link_to "各種設定", detail_path
        h2 予約
        ul
          li
            = link_to "予約一覧", mypages_path
        h2 その他
        ul
          li
            = link_to 'ログアウトする', destroy_user_session_path, method: :delete
      .mypage_contents
        -if params[:car_id]
          =simple_form_for Review.new, url: review_create_path  do |f|
            p タイトル
            = f.input :title, label: false
            p レビュー
            = f.input :description, label: false
            = f.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
            = f.input :car_id, as: :hidden, input_html: {value: params[:car_id]}
            = f.button :submit, "レビューを書く"
  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.mypage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
