レンタル後のまだ記憶が新しいうちに体験を振り返り、
レビューをひとことシェアしましょう。
これから利用するドライバーの参考になりそうな感想をぜひお願いします。
今後とも、ワンズシェアをよろしくお願いいたします。

レビューをする
<%=review_url(car_id: @car.id)%>


────────────────────
ワンズシェアからのメール
https://ones-share.com/

▼本メールについて
※このメールは返信しても届きません。

▼送信者に関する情報
株式会社ワンズネットワーク
〒274-0071
千葉県船橋市習志野1-8-1
http://www.ones-rent.com/static/fcplan/company.html
