= stylesheet_link_tag "home/login", :media => "all"

article
  section.login
    h1
      | ログイン
      br
      span LOGIN
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        p メールアドレス
        = f.input :email, label: false, required: false, autofocus: true
        p パスワード
        = f.input :password, label: false, required: false
        = f.input :remember_me, label: "ログインしたままにする", as: :boolean if devise_mapping.rememberable?
        = f.button :submit, "ログイン"

    = render "devise/shared/links"
