= stylesheet_link_tag "home/about", :media => "all"
article
  .breadcrumbs
    ul
      li
        = link_to "HOME", root_path
      li ワンズシェアについて
  section.about_text
    h1 「より『簡単』で『安心』なカーシェアシェアリング体験」
    p 貸し借りの間にワンズレンタカー店舗が入ることにより、今までの個人間カーシェアシェアリングの問題を一気に解決します。車両の登録や、貸渡しから、傷のチェック、お客様とのトラブル交渉に到るまでワンズレンタカーが全て代行します。
  section.about_flow
    h2
      | お取引の流れ
      br
      span FLOW
    p
      =image_tag("about_flow.png")
  section.experience
    h2
      | 安心・安全なワンズシェア
      br
      span EXPERIENCE
    p.experience_copy ワンズシェアは「個人間カーシェアリングの問題」を解決します。
    p.experience_pc_img
      =image_tag("experience.png")
    p.experience_sp_img
      =image_tag("experience_sp.png")
  section.review
    h2
      | 利用者の感想
      br
      span REVIEW
    =render partial: "home/review"
