<%= @owner.name %>様より
オーナー登録申請が来ております。

【オーナー詳細】
氏名: <%= @owner.name %> 様
車の名前: <%= @car_name %>

【受渡希望日】
クルマを持っていく日時(第一希望)
<%= @owner.first_receipt_date.strftime('%Y年%m月%d日%H:%M') %>
クルマを持っていく日時(第二希望)
<%= @owner.second_receipt_date.strftime('%Y年%m月%d日%H:%M') %>
クルマを持っていく日時(第三希望)
<%= @owner.third_receipt_date.strftime('%Y年%m月%d日%H:%M') %>

【オーナー情報】
氏名:<%= @owner.name %>
住所:<%= @owner.address %>
生年月日:<%= @owner.birth_day.strftime('%Y年%m月%d日') %>
電話番号:<%= @owner.tel %>

承認するには以下をクリックしてください。
<%=owner_entry_infomation_url(id: @owner.id)%>


────────────────────
ワンズシェアからのメール
https://ones-share.com/

▼本メールについて
※このメールは返信しても届きません。

▼送信者に関する情報
株式会社ワンズネットワーク
〒274-0071
千葉県船橋市習志野1-8-1
http://www.ones-rent.com/static/fcplan/company.html
