おめでとうございます！オーナー登録の申請許可が降りました！
以下の日時、場所に登録したクルマを受け渡してください。
現地にて、オーナー登録を行います
なお、万が一遅れる場合などございましたら、
以下 の電話番号にご連絡ください。

【受け渡しの詳細】
受渡希望日:<%= @owner.receipt_date %>
受け渡し場所:<%= @store.name %>
住所:<%= @store.address %>
電話番号:<%= @store.tel %>
持ち物：運転免許証

ページを開くには以下をクリックしてください。
<%=ownerpages_url%>


────────────────────
ワンズシェアからのメール
https://ones-share.com/

▼本メールについて
※このメールは返信しても届きません。

▼送信者に関する情報
株式会社ワンズネットワーク
〒274-0071
千葉県船橋市習志野1-8-1
http://www.ones-rent.com/static/fcplan/company.html
