//599以下
//600-959
//960以上
body{
  margin: 0;
  line-height: 1.0;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  main{
    margin-top: 58px;
  }
  #flash_alert{
    background: #ffadad;
    color: #a50000;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ca6f6f;
  }
  #flash_notice{
    background: #c8ffcc;
    color: #306314;
    padding: 15px;
    position: fixed;
    top: 58px;
    width: 100%;
    z-index: 100;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #5cb743;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    opacity: 0.6;
  }
  p{
    margin: 0;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .clearfix:after{
  	content: "";
  	clear: both;
  	display: block;
  }
  h2{
    text-align: center;
    color: #1F77D1;
    font-size: 11px;
    position: relative;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0 0 25px 0;
    span{
      font-size: 22px;
    }
    &:after{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      width : 10% ;
      margin: 0 auto;
      border-bottom: 1px solid #1F77D1;
    }
  }
  .breadcrumbs{
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #D3D3D3;
    position: fixed;
    box-sizing: border-box;
    z-index: 49;
    ul{
      width: 1000px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      li{
        color: #696969;
        font-size: 10px;
        margin-right: 27px;
        position: relative;
        a{
          color: #696969;
        }
        &:before{
          content: '';
          width: 6px;
          height: 6px;
          border: 0;
          border-top: solid 1px #696969;
          border-right: solid 1px #696969;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 2px;
          left: -20px;
        }
        &:first-child:before{
          content: none;
        }
      }
    }
  }
  .simple_form{
    p{
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 10px;
    }
    .hint{
      display: none;
    }
    input{
      box-sizing: border-box;
      margin: 0 auto 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding-left: 10px;
    }
    input[type=checkbox] {
      margin-right: 5px;
      vertical-align: top;
    }
    label{
      margin-right: 10px;
    }
    select{
      height: 30px;
      width: 100px;
      font-size: 14px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }
    .btn{
      width: 200px;
      height: auto;
      display: block;
      padding: 10px 20px;
      margin: 20px auto;
      font-weight: bold;
      background: #2279D1;
      color: #fff;
      border: none;
      border-radius: 6px;
    }
  }
}

@media screen and (min-width:600px) and ( max-width:959px) {

}
@media screen and (min-width:960px){
  body{
    margin: 0;
    line-height: 1.0;
    main{
      margin-top: 68px;
    }
    #flash_notice{
      background: #c8ffcc;
      color: #306314;
      padding: 15px;
      position: fixed;
      top: 68px;
      width: 100%;
      z-index: 100;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #5cb743;
    }
    a{
      text-decoration: none;
    }
    a:hover{
      opacity: 0.6;
    }
    p{
      margin: 0;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
    }
    h2{
      text-align: center;
      color: #1F77D1;
      font-size: 13px;
      position: relative;
      padding: 20px 0;
      line-height: 1.5;
      margin: 0 0 35px 0;
      span{
        font-size: 34px;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width : 10% ;
        margin: 0 auto;
        border-bottom: 1px solid #1F77D1;
      }
    }
    .breadcrumbs{
      width: 100%;
      background: #fff;
      padding: 10px 0;
      border-bottom: 1px solid #D3D3D3;
      position: fixed;
      z-index: 9998;
      ul{
        width: 1000px;
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
        li{
          color: #696969;
          font-size: 10px;
          margin-right: 27px;
          position: relative;
          a{
            color: #696969;
          }
          &:before{
            content: '';
            width: 6px;
            height: 6px;
            border: 0;
            border-top: solid 1px #696969;
            border-right: solid 1px #696969;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2px;
            left: -20px;
          }
          &:first-child:before{
            content: none;
          }
        }
      }
    }
  }

}
