footer{
  background: #39414D;
  .footer_section{
    width: 100%;
    padding: 40px 20px 50px;
    box-sizing: border-box;
    color: #fff;
    .footer_img{
      display: none;
    }
    .footer_nav{
      margin-bottom: 30px;
      p{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      ul{
        display: inline-block;
        margin-bottom: 15px;
        li{
          float: left;
          line-height: 1.0;
          margin-right: 20px;
          margin-bottom: 10px;
          padding-right: 20px;
          border-right: 1px solid #fff;
          a{
            color: #fff;
            font-size: 12px;
          }
        }
      }
      ul:last-child{
        margin-bottom: 0;
      }
    }
    .footer_sns{
      p{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      ul{
        display: -webkit-flex;
        display: flex;
        li{
          width: 45px;
          height: 45px;
          margin-right: 20px;
          background-image: image-url("sns_logo.png");
          background-repeat: no-repeat;
        }
        li.facebook{
          background-position: 2px 2px;
        }
        li.twiiter{
          background-position: -72px 2px;
        }
        li.instagram{
          background-position: -160px 2px;
        }
      }
    }
  }
  .footer_copyright{
    height: 55px;
    padding: 0 20px;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    .company_logo{
      margin-right: 30px;
      padding: 10px 0;
      img{
        width: 130px;
      }
    }
    .copyright{
      font-size: 10px;
      color: #707070;
      padding: 19px 0;
    }
  }
}

@media screen and (min-width:600px) and (max-width:959px) {

}

@media screen and (min-width:960px){
  footer{
    background: #39414D;
    .footer_section{
      width: 1000px;
      margin: 0 auto;
      padding: 60px 0 70px;
      color: #fff;
      display: -webkit-flex;
      display: flex;
      .footer_img{
        width: 20%;
        p{
          width: 80px;
          height: 80px;
          margin: 0 auto;
          background: #fff;
          img{

          }
        }
      }
      .footer_nav{
        width: 60%;
        padding-right: 20px;
        border-right: 1px solid #fff;
        p{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        ul{
          display: inline-block;
          margin-bottom: 20px;
          li{
            float: left;
            line-height: 1.0;
            margin-right: 20px;
            margin-bottom: 10px;
            padding-right: 20px;
            border-right: 1px solid #fff;
            a{
              color: #fff;
              font-size: 12px;
            }
          }
        }
        ul:last-child{
          margin-bottom: 0;
        }
      }
      .footer_sns{
        width: 20%;
        padding-left: 30px;
        p{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        ul{
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          li{
            width: 45px;
            height: 45px;
            background-image: image-url("sns_logo.png");
            background-repeat: no-repeat;
          }
          li.facebook{
            background-position: 2px 2px;
          }
          li.twiiter{
            background-position: -72px 2px;
          }
          li.instagram{
            background-position: -160px 2px;
          }
        }
      }
    }
    .footer_copyright{
      height: 55px;
      padding: 0 20px;
      background: #fff;
      display: -webkit-flex;
      display: flex;
      .company_logo{
        margin-right: 30px;
        padding: 10px 0;
        img{
          width: 130px;
        }
      }
      .copyright{
        font-size: 10px;
        color: #707070;
        padding: 19px 0;
      }
    }
  }

}
