header{
  height: 50px;
  width: 100%;
  background: #fff;
  border-top: 8px solid #2279D1;
  box-shadow: 0 1px 9px rgba(0,0,0,.2);
  position: fixed;
  top: 0;
  z-index: 50;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  .site_image{
    padding-left: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    img{
      width: 160px;
    }
  }
  .pc_menu{
    display: none;
  }
}
.drawer-nav{
  border-top: 8px solid #2279D1;
  .drawer-menu{
    padding: 20px;
    box-sizing: border-box;
    li{
      width: 100%;
      box-sizing: border-box;
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px dashed #2279D1;
      a{
        padding: 14px 14px 14px 0;
        width: 100%;
        display: block;
        color: #2279D1;
      }
    }
    .yellow{
      a{
        color: #FFBA00;
      }
    }
  }
}

@media screen and (min-width:600px) and (max-width:959px) {

}

@media screen and (min-width:960px){
  header{
    height: 60px;
    width: 100%;
    background: #fff;
    border-top: 8px solid #2279D1;
    box-shadow: 0 1px 9px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .site_image{
      padding-left: 40px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      img{
        width: 160px;
      }
    }
    .pc_menu{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      position: relative;
      li{
        margin-right: 10px;
        font-size: 12px;
        a{
          padding: 24px 10px;
          display: inline-block;
          color: #2279D1;
          font-weight: bold;
        }
        .toggle_button{
          padding: 24px 10px;
          display: inline-block;
          color: #2279D1;
          font-weight: bold;
          margin-right: 14px;
          position: relative;
          &:after{
            content: "";
            position: absolute;
            top: 25px;
            right: -10px;
            width: 0;
            height: 0px;
            border-bottom: 0px solid transparent;
            border-right: 6px solid transparent;
            border-top: 9px solid #2279D1;
            border-left: 6px solid transparent;
          }
          &:hover{
            cursor: pointer;
            opacity: 0.6;
          }
        }
        .open{
          &:after{
            content: "";
            position: absolute;
            top: 25px;
            right: -10px;
            width: 0;
            height: 0px;
            border-top: 0px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 9px solid #2279D1;
            border-left: 6px solid transparent;
          }
        }
      }
      .yellow{
        a{
          color: #FFBA00;
        }
      }
      .toggle_box{
        display: none;
        background: #fff;
        box-shadow: 0 0 10px -1px grey;
        position: absolute;
        opacity: 0.95;
        top: 65px;
        right: 10px;
        li{
          color: #2279D1;
          margin-right: 0;
          border-bottom: 2px dashed #2279D1;
          a{
            padding: 20px;
            display: inline-block;
            color: #2279D1;
            font-weight: bold;
            img{
              width: 23px;
              margin-right: 10px;
            }
            span{
              vertical-align: super;
            }
          }
          &:last-child{
            border-bottom: none;
          }
        }
      }
    }
    .drawer-toggle{
      display: none;
    }
  }
}
