ul.car_list_inner
  -@cars.each do |car|
    li.car_list_box
      = link_to cars_path(car_id: car.id) , class: "car_list_link" do
        .h2_box
          p #{car.price}円 / 1時間
          h2
            | #{car.name}
            span #{car.store.access}
        p.car_list_img
          -if car.car_images.present?
            =image_tag(car.car_images.first.image.to_s)
      .shop_info
        p
          | 受け取り場所
          = link_to "#{car.store.name}", car.store.url, target: "_blank"
      ul.option_list
        -car.options.each do |option|
          li =option.name
      -if @car.owner
        .owner_info
          p.owner_img
            =image_tag(@car.owner.image.to_s)
          .owner_name_box
            p.owner_name =@car.owner.name
          p.owner_description
      section.car_review
        h3 レビュー一覧
        ul.car_review_list
          -car.reviews.each do |review|
            -if review.user.try(:profile)
              li
                p.reviewer_img
                  -if review.user.profile.image?
                    =image_tag(review.user.profile.image.to_s)
                  -else
                    =image_tag("owner_img.png")
                .reviewer_info_box
                  p.reviewer_name
                    | #{review.user.profile.name}
                    span さん
                  p.reviewer_info
                    span #{review.user.profile.age}
                    span #{review.user.profile.gender}
                    span #{review.user.profile.profession}
                  /p.review_day 乗車日：2018年11月
                p.reviewer_text =review.description
