= stylesheet_link_tag "home/car01", :media => "all"
= stylesheet_link_tag "sticky-state", :media => "all"
= stylesheet_link_tag "flickity", :media => "all"
= javascript_include_tag "sticky-state.min.js"
= javascript_include_tag "flickity.pkgd.min.js"

article
  .breadcrumbs
    ul
      li
        = link_to "HOME", root_path
      li
        = link_to "車を探す", searchs_path
      li
        = link_to @prefecture.name, car_searchs_path(pre: @prefecture.uniq_name)
      li #{@car.name}
  section.car_header
    ul.car_img.js-flickity
      -@car.car_images.each do |car_image|
        li.gallery-cell
          =image_tag(car_image.image.to_s)
    .h1_box
      .h1_box_inner
        h1
          | #{@car.name}
          span #{@car.store.access}
        .h1_car_money
          | #{@car.price}円 / 1時間
  .contents
    .car_info
      .shop_info
        p
          | 受け取り場所
          = link_to "#{@car.store.name}", @car.store.url, target: "_blank"
      ul.option_list
        -@car.options.each do |option|
          li =option.name
      -if @car.owner
        .owner_info
          p.owner_img
            =image_tag(@car.owner.image.to_s)
          .owner_name_box
            p.owner_name =@car.owner.name
          p.owner_description
      section.car_description
        p =@car.description
      section.car_review
        h2 レビュー一覧
        ul.car_review_list
          -@car.reviews.each do |review|
            -if review.user.try(:profile)
              li
                p.reviewer_img
                  -if review.user.profile.image?
                    =image_tag(review.user.profile.image.to_s)
                  -else
                    =image_tag("owner_img.png")
                .reviewer_info_box
                  p.reviewer_name
                    | #{review.user.profile.name}
                    span さん
                  p.reviewer_info
                    span #{review.user.profile.age}
                    span #{review.user.profile.gender}
                    span #{review.user.profile.profession}
                  p.review_day 乗車日：2018年11月
                p.reviewer_text =review.description
      section.car_page_map
        h2 受け取り場所
        p.shop_link
          = link_to "#{@car.store.name}", "#{@car.store.url}", target: "_blank"
        p.shop_address 住所：#{@car.store.address}
        p.map_img
          #map style="width: 100%; height: 400px;"
    .reserve_box.sticky
      p.reserve_money #{@car.price}円 / 1時間
      .reserve_info
        - if user_signed_in?
          =simple_form_for ProvisionalReservation.new, url: reserve_path do |f|
            p.reserve_info_title 出発時間
            = f.input :start_date, label: false, as: :calendar, require: true
            = f.input :start_time, label: false, require: true, minute_step: 30
            p.reserve_info_title 返却時間
            = f.input :end_date, label: false, as: :calendar, require: true
            = f.input :end_time, label: false, require: true, minute_step: 30
            p.reserve_info_title 予約人数
            = f.input :number, label: false, require: true, collection: [*1..20]
            = f.input :car_id, as: :hidden, input_html: {value: @car.id}
            = f.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
            p.reserve_info_title オプション選択(複数選択可)
            = f.collection_check_boxes :option_ids, @car.options, :id, :name do |t|
              = t.label {t.check_box + t.text}
            = f.button :submit, "予約する"
          p.reserve_detail
            | まだ請求は発生しません。
            br
            | この後、保険の手続きをいたします。
        - else
          .not_login
            p.not_login_title
              | ログインしないと
              br
              | 予約ができません。
            p.not_login_text 既に会員登録がお済みの方はこちら
            = link_to 'ログイン', user_session_path
            p.not_login_text まだ会員登録がお済みでない方はこちら
            = link_to '新規登録', new_user_registration_path
  section.car_list
    h2 好みの車をもっと探す
    =render partial: "car_list"
  section.contents_bottom
    p 他の地域を探す
    ul
      -@prefectures.each do |prefecture|
        li
          = link_to prefecture.name, car_searchs_path(pre: prefecture.uniq_name)
  .reserve_box_sp
    .reserve_box_sp_inner 日時を選択して予約する
  .reserve_toggle_box
    p.reserve_money #{@car.price}円 / 1時間
    .reserve_info
      - if user_signed_in?
        =simple_form_for ProvisionalReservation.new, url: reserve_path  do |f|
          p.reserve_info_title 出発時間
          = f.input :start_date, label: false, as: :calendar, require: true
          = f.input :start_time, label: false, require: true, minute_step: 30
          p.reserve_info_title 返却時間
          = f.input :end_date, label: false, as: :calendar, require: true
          = f.input :end_time, label: false, require: true, minute_step: 30
          p.reserve_info_title 予約人数
          = f.input :number, label: false, require: true
          = f.input :car_id, as: :hidden, input_html: {value: @car.id}
          = f.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
          = f.button :submit, "予約する"
        p.reserve_detail
          | まだ請求は発生しません。
          br
          | この後、保険の手続きをいたします。
      -else
        .not_login
          p.not_login_title ログインしないと予約ができません。
          p.not_login_text 既に会員登録がお済みの方はこちら
          = link_to 'ログイン', user_session_path
          p.not_login_text まだ会員登録がお済みでない方はこちら
          = link_to '新規登録', new_user_registration_path
  #close_area

javascript:
  $(function() {
    $('.js-flickity').flickity({
      wrapAround: true
    });
    $('.reserve_box_sp').click(function () {
        $('.reserve_toggle_box').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.reserve_toggle_box').slideToggle();
        $('#close_area').hide();
    });
  });

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
