= stylesheet_link_tag "home/reserved", :media => "all"

article
  section.reserve
    h1 申し訳ございません！
    p
      =image_tag("sorry.png")
    p.time
      | #{@reservation.start_date.strftime('%Y年%m月%d日')}#{@reservation.start_time.strftime('%H:%M')}
      br
      | 〜
      br
      | #{@reservation.end_date.strftime('%Y年%m月%d日')}#{@reservation.end_time.strftime('%H:%M')}
    p で既に予約が入っているため予約ができませんでした。
    =link_to "前の画面に戻る", cars_path(car_id: params[:car_id])
