= stylesheet_link_tag "home/search", :media => "all"

article
  .breadcrumbs
      ul
        li
          = link_to "HOME", root_path
        li 車を探す
  section.serch
    h2
      | 車を探す
      br
      span SEARCH
    .partial_box
      =render partial: "home/area_serach"
