= stylesheet_link_tag "home/reserve_condition", :media => "all"

article
  section.condition
    ul.condition_list
      li.non_select
        p 予約済み
        .condition_circle
      -if @reservation.state == "acceptance"
        li.selected
          p 車の受け取り
          .condition_circle
      -else
        li.non_select
          p 車の受け取り
          .condition_circle
      -if @reservation.state == "rental"
        li.selected
          p レンタル中
          .condition_circle
      -else
        li.non_select
          p レンタル中
          .condition_circle
      -if @reservation.state == "returned"
        li.selected
          p 返却
          .condition_circle
      -else
        li.non_select
          p 返却
          .condition_circle
    .contents
      .ownerpage_nav
        h2.first_h2 予約の詳細
        ul.nav_contents
          li
            = link_to "#{@car.name}", cars_path(car_id: @car.id)
          li
            p 受取日時
            span #{@reservation.start_date.strftime('%Y年%m月%d日')}#{@reservation.start_time.strftime('%H:%M')}
          li
            p 返却日時
            span #{@reservation.end_date.strftime('%Y年%m月%d日')}#{@reservation.end_time.strftime('%H:%M')}
          li
            p 受け取り場所
            span #{@store.name}
            = link_to "地図で確認する >>", "https://www.google.co.jp/maps/search/#{@store.name}", target: "_blank", class: "map_link"
          li
            p ご連絡
            = link_to "#{@store.tel}", "tel:#{@store.tel}"
        h2 お支払い内容
        .nav_contents
          .money_list
            p 保険料
            span #{@reservation.insurance_fee}円
          .money_list
            p ご利用料金
            span #{@reservation.price}円
          .total_money
            p 合計
            span #{@reservation.total}円
      .ownerpage_contents
        h3 車の受け取りについて
        .map_box
          h4 受け取り場所
          p.shop_link
            = link_to "#{@store.name}", "#{@store.url}", target: "_blank"
          p.shop_address 住所：#{@car.store.address}
          p.map_img
            #map style="width: 100%; height: 400px;"

javascript:
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
