ul.car_list_inner
  -@cars.each do |car|
    li.car_list_box
      = link_to cars_path(car_id: car.id) , class: "car_list_link" do
        .h2_box
          p #{car.price}円 / 1時間
          h2
            | #{car.name}
            span #{car.store.access}
        p.car_list_img
          =image_tag(car.car_images.first.image.to_s)
      .shop_info
        p
          | 受け取り場所
          = link_to "#{car.store.name}", car.store.url, target: "_blank"
      ul.option_list
        -car.options.each do |option|
          li =option.name
      .edit_car
        = link_to "編集", car_edit_path(car_id: car.id), class: "edit_car_link"
