= stylesheet_link_tag "home/owner_consider", :media => "all"

article
  .breadcrumbs
      ul
        li
          = link_to "HOME", root_path
        li オーナーを検討されている方
  .owner_top
    .revenue_box
      p.title ワンズシェアのオーナー予想収入
      .revenue_box_inner
        /.text あなたのことを教えてください。
        /p.area 場所を選べるようにしたい
        /.select_box
          p 車種
          p 週5
        p.revenue_result
          | 51,720円
          span
            | （ 1ヶ月あたり )
        =link_to "オーナーになる", entry_path
  .revenue_bottom
    .bottom_box
      p 1ヶ月あたりの予想収入
      span 51,720円
      =link_to "オーナーになる", entry_path
  section.owner_consider
    h1
      | オーナーを検討されている方
      br
      span OWNER
    ul.consider_button
      li
        a.top_link href="/entry"
          =image_tag("car_icon.png")
          .text_box
            | 今すぐ
            br
            span オーナー登録
      li
        a.top_link href="/consider"
          =image_tag("study_icon.png", :class => "car_img")
          .text_box
            | まずは
            br
            span 詳しい内容を知る
    section.owner_about
      h2 ワンズシェアオーナーの最大の特徴
      h3 オーナー業務をワンズシェアが全て代行
      p.about_text ワンズシェアは、レンタル時に発生する面倒なオーナー業務を代行することで、オーナーにかかる負担を最大限に減らすことに尽力しています。普段の仕事や生活で忙しく、オーナーをやりたくてもできない方でも、ワンズシェアなら今すぐにマイカーシェアリングのオーナーをすることができ、車を貸し出すだけで収益を得られる仕組みを作りました。
    section.owner_merit
      h2 オーナーになるメリット
      ul.merit_lists
        li.left
          h3 個人間カーシェアリングの問題を解決
          .merit_content
            p.merit_img
              =image_tag("sharing.jpg")
            p ワンズシェアでは、車両の登録や、貸渡しから、傷のチェック、お客様とのトラブル交渉に到るまでワンズレンタカーが全て代行します。そのような方法をとることで、従来の個人間カーシェアシェアリングの問題を解決することが可能です。
        li.right
          h3 車の維持費を軽減することが可能
          .merit_content
            p.merit_img
              =image_tag("car_cost.jpg")
            p 自分が使わないときに車を貸すことで、売上が見込まれ、保険代などの車の維持費を軽減することができます。（受取金額は月20,000~30,000を見込みます）
        li.left
          h3 駐車場代の節約
          .merit_content
            p.merit_img
              =image_tag("parking.jpg")
            p ワンズシェアでは、車両を店舗が預かるという形を取っております。長期間登録店舗に預けることで駐車場代を節約することができます。
    section.owner_step
      h2 オーナーになるための3つのステップ
      p.title 手間いらず、「車を店舗に持っていくだけ」でオーナーに。
      ul
        li
          h3
            | 01
            span まずはオーナー登録
          p.step_img
            =image_tag("owner_consider_step1.png")
          p オーナーになるためのはじめのステップは、このページからオーナー登録をすることです。下のボタンからオーナー登録を済ませましょう。
        li
          h3
            | 02
            span 車を預ける店舗を決める
          p.step_img
            =image_tag("owner_consider_step2.png")
          p オーナー登録が完了したら、車を預ける店舗を探します。自分の車の種類を入力するだけで近くの店舗を探すことができます。店舗が決まれば、いつ、車を店舗に持っていくのかを決めます。
        li
          h3
            | 03
            span 店舗に車を持っていく
          p.step_img
            =image_tag("owner_consider_step3.png")
          p 指定された日に、車を店舗に持っていきましょう。車の情報登録やドライバーとのやりとりは全てワンズレンタカーのスタッフが対応。オーナーは面倒なやりとりなく、マイカーシェアリングをすることができます。
    section.owner_review
      h2 オーナー様たちの声
      ul
        li
          .profile_box
            p
              = image_tag("owner_img.png")
            span オーナー さん
            span 20代 男性
            span 千葉県 在住
          .comment_box テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li.right
          .profile_box
            p
              = image_tag("owner_img.png")
            span オーナー さん
            span 20代 男性
            span 千葉県 在住
          .comment_box テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li
          .profile_box
            p
              = image_tag("owner_img.png")
            span オーナー さん
            span 20代 男性
            span 千葉県 在住
          .comment_box テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        li.right
          .profile_box
            p
              = image_tag("owner_img.png")
            span オーナー さん
            span 20代 男性
            span 千葉県 在住
          .comment_box テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    section.owner_experience
      h2 安心・安全なワンズシェア
      p.experience_pc_img
          =image_tag("experience.png")
      p.experience_sp_img
        =image_tag("experience_sp.png")
    section.owner_quesition
      h2 Q&A
      h3 ログイン方法について
      ul
        li
          .question_toggle 会員登録は無料ですか？
          .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
        li
          .question_toggle 会員登録は無料ですか？
          .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
      h3 ログイン方法について
      ul
        li
          .question_toggle 会員登録は無料ですか？
          .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
        li
          .question_toggle 会員登録は無料ですか？
          .answer 会員登録やクルマの登録は、無料です。プラットフォーム手数料として、オーナーは使用料の10％を負担いただきます。詳細は、特定商取引法の表示等をご覧ください。
    section.owner_resigtraiton
      h2 オーナー登録はこちら
      = link_to "オーナー登録をする", entry_path


javascript:
  $(function(){
    $('.question_toggle').click(function(){
      $(this).toggleClass("open");
      $(this).next(".answer").slideToggle();
    });
  });
