= stylesheet_link_tag "home/owner_entry", :media => "all"

article
  section.entry
    h1
      | オーナー登録申請
      br
      span OWNER ENTRY
    -if user_signed_in?
      = simple_nested_form_for Owner.new, url: owner_create_path  do |f|
        p 名前
        = f.input :name, label: false, require: true
        p 画像
        = f.input :image, label: false, require: true, as: :file
        p 自己紹介文
        = f.input :description, label: false, require: true
        p 電話番号
        = f.input :tel, label: false, require: true
        p 住所
        = f.input :address, label: false, require: true
        #birth_day
          p 生年月日
          = f.input :birth_day, label: false, require: true, as: :date, start_year: Date.today.year, end_year: Date.today.year - 110
        p 車名
        = f.input :car_name, label: false, require: true
        p 車種
        = f.input :category_id, label: false, require: true, collection: Category.all, label_method: :name, value_method: :id
        p クルマを預ける店舗
        = f.input :store_id, label: false, require: true, collection: Store.all, label_method: :name, value_method: :id, :input_html => {:onchange => "store_select(this)"}
        #store_receipt_date
          .before_p 注意
          .before_t クルマを預ける店舗を選択すると、ここに受け取り可能時間が表示されます。クルマを持っていく日時では、受け取り可能時間内で日時を選択してください。
        #store_date
          p クルマを持っていく日時(第一希望)
          = f.input :first_receipt_date, label: false, require: true, minute_step: 15
          p クルマを持っていく日時(第二希望)
          = f.input :second_receipt_date, label: false, require: true, minute_step: 15
          p クルマを持っていく日時(第三希望)
          = f.input :third_receipt_date, label: false, require: true, minute_step: 15
        = f.simple_fields_for :license, License.new do |f2|
          p 免許証写真アップロード
          =f2.input :image, label: false, require: true, as: :file
          =f2.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
        = f.input :user_id, as: :hidden, input_html: {value: current_user.try(:id)}
        = f.button :submit, "オーナー申請する"

    -else
      p.owner_registration_text オーナー申請をするには新規登録・ログインが必要です
      p.owner_registration_link
        = link_to '新規登録', new_user_registration_path
      p.owner_registration_link
        a href="/users/sign_in"
          | ログイン

javascript:
  function store_select(data){
    $.ajax({
      type: 'post',
      url: 'store_select',
      data: {store_id: data.value}
    });
  };
