= stylesheet_link_tag "home/ownerpage", :media => "all"

article
  section.ownerpage
    h1 オーナーページ
    .contents
      .ownerpage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span オーナー名
        ul
          li
            = link_to "プロフィールの編集", ownerpages_path
      .close_button 閉じる
      .ownerpage_contents
        p.owner_wait_condition02 おめでとうございます！
        p.owner_wait02
          | オーナー承認が得られました!
          br
          | 登録車を店舗に預けることで、あなたのオーナー登録が完了になります。
          br
          | 以下を確認してください。

        p.owner_wait02
          span クルマを預ける日時
          | #{@owner.receipt_date}

        p.owner_wait02
          span 持ち物
          | 免許証

        p.owner_wait02
          span クルマを預ける店舗
          | #{@store.name}

        p.map_img
          #map style="width: 100%; height: 300px; margin-bottom: 30px;"


javascript:
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
