= stylesheet_link_tag "home/ownerpage", :media => "all"

article
  section.ownerpage
    h1 オーナーページ
    .contents
      .ownerpage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span オーナー名
        ul
          li
            = link_to "承認待ち", ownerpages_path
      .close_button 閉じる
      .ownerpage_contents
        p.owner_wait_condition 店舗の承認待ち
        p.owner_wait 現在、店舗へオーナー登録の申請をしております。店舗の承認が得られるまでしばらくお待ち下さい。承認には1日~3日かかる場合がございます。承認がされた場合、登録されたメールアドレスにお知らせ致します。
