= stylesheet_link_tag "home/ownerpage", :media => "all"

article
  section.ownerpage
    h1 オーナーページ
    .contents
      .nav_toggle_button オーナーメニューを開く
      .ownerpage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span オーナー名
        ul
          li
            = link_to "プロフィールの編集", owner_profile_path
          li
            = link_to "免許証の確認", owner_license_path, class: "selected"
        h2 アカウント
        ul
          /li
            = link_to "通知", owner_notification_path
          li
            = link_to "口座設定", owner_account_path
          /li
            = link_to "プライバシー", owner_privacy_path
          /li
            = link_to "パスワード設定", owner_password_path
          /li
            = link_to "各種設定", owner_detail_path
        h2 登録車
        ul
          li
            = link_to "登録車一覧", ownerpages_path
        h2 実績
        ul
          li
            = link_to "実績", performance_path
          li
            = link_to "収入", revenue_path
      .ownerpage_contents
        .profile_edit
          -if @license.approval
            p 承認済み
          -else
            p 未承認
          =simple_form_for @license, url: owner_license_update_path(id: @license)  do |f|
            p　画像
            = f.input :image, label: false, as: :file
            = f.button :submit, "更新"
  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
