= stylesheet_link_tag "home/ownerpage", :media => "all"

article
  section.ownerpage
    h1 オーナーページ
    .contents
      .nav_toggle_button オーナーメニューを開く
      .ownerpage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span オーナー名
        ul
          li
            = link_to "プロフィールの編集", owner_profile_path, class: "selected"
          li
            = link_to "免許証の確認", owner_license_path
        h2 アカウント
        ul
          /li
            = link_to "通知", owner_notification_path
          li
            = link_to "口座設定", owner_account_path
          /li
            = link_to "プライバシー", owner_privacy_path
          /li
            = link_to "パスワード設定", owner_password_path
          /li
            = link_to "各種設定", owner_detail_path
        h2 登録車
        ul
          li
            = link_to "登録車一覧", ownerpages_path
        h2 実績
        ul
          li
            = link_to "実績", performance_path
          li
            = link_to "収入", revenue_path
      .ownerpage_contents
        .profile_edit
          =simple_form_for @owner, url: owner_profile_update_path  do |f|
            p 名前
            = f.input :name, label: false, require: true
            p 画像
            = f.input :image, label: false, require: true, as: :file
            p 電話番号
            = f.input :tel, label: false, require: true
            p 自己紹介文
            = f.input :description, label: false, require: true
            p 住所
            = f.input :address, label: false, require: true
            p 生年月日
            = f.input :birth_day, label: false, require: true, as: :date, start_year: Date.today.year, end_year: Date.today.year - 110
            = f.button :submit, "更新"


  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
