= stylesheet_link_tag "home/ownerpage", :media => "all"

article
  section.ownerpage
    h1 オーナーページ
    .contents
      .nav_toggle_button オーナーメニューを開く
      .ownerpage_nav
        h2.first_h2
          =image_tag("car_list_img.jpg")
          span オーナー名
        ul
          li
            = link_to "プロフィールの編集", owner_profile_path
          li
            = link_to "免許証の確認", owner_license_path
        h2 アカウント
        ul
          /li
            = link_to "通知", owner_notification_path
          li
            = link_to "口座設定", owner_account_path, class: "selected"
          /li
            = link_to "プライバシー", owner_privacy_path
          /li
            = link_to "パスワード設定", owner_password_path
          /li
            = link_to "各種設定", owner_detail_path
        h2 登録車
        ul
          li
            = link_to "登録車一覧", ownerpages_path
        h2 実績
        ul
          li
            = link_to "実績", performance_path
          li
            = link_to "収入", revenue_path
      .ownerpage_contents
        .profile_edit
          -if @account
            =simple_form_for @account, url: owner_account_update_path(id: @account)  do |f|
              p 銀行名
              = f.input :financial_name, label: false
              p 支店名
              = f.input :branch_name, label: false
              p 口座種別
              = f.input :deposit_category, label: false, collection: ["普通預金","当座預金"]
              p 口座番号
              = f.input :number, label: false
              p 名義
              = f.input :holder, label: false
              = f.button :submit, "更新"
          -else
            =simple_form_for Account.new, url: owner_account_create_path  do |f|
              p 銀行名
              = f.input :financial_name, label: false
              p 支店名
              = f.input :branch_name, label: false
              p 口座種別
              = f.input :deposit_category, label: false, collection: ["普通預金","当座預金"]
              p 口座番号
              = f.input :number, label: false
              p 名義
              = f.input :holder, label: false
              = f.input :owner_id_id, as: :hidden, input_html: {value: @owner.try(:id)}
              = f.button :submit, "更新"
  #close_area

javascript:
  $(function() {
    $('.nav_toggle_button').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').show();
    });
    $('#close_area').click(function () {
        $('.ownerpage_nav').slideToggle();
        $('#close_area').hide();
    });
  });
