footer
  .footer_section
    .footer_img
      p
        =image_tag("")
    .footer_nav
      p ワンズシェア
      ul
        li
          = link_to "HOME", root_path
        li
          = link_to "ワンズシェアについて", abouts_path
        li
          = link_to "車を探す", searchs_path
        li
          = link_to "よくある質問", questions_path
        li
          = link_to "NEWS", news_index_path
        li
          = link_to "オーナーとして検討されている方", consider_path
        li
          = link_to "お問い合わせ", root_path
        li
          = link_to "プライバシーポリシー", root_path
        li
          = link_to "特定商取引法について", root_path
        li
          = link_to "サイトマップ", root_path
      p 海外レンタカー予約
      ul
        li
          = link_to "ハワイとグアムのレンタカー", "http://www.ones-rent.com/static/world/", target: "_blank"
      p ワンズレンタカーについて
      ul
        li
          = link_to "ホーム", "http://www.ones-rent.com/", target: "_blank"
        li
          = link_to "会社概要", "http://www.ones-rent.com/static/fcplan/company.html", target: "_blank"
    .footer_sns
      p Follow Us
      ul
        li.facebook
          = link_to "", root_path
        li.twiiter
          = link_to "", root_path
        li.instagram
          = link_to "", root_path
  .footer_copyright
    p.company_logo
      =image_tag("company_logo.png")
    p.copyright Copyright(C) ONE’s NET WORK All Right Reserved.
