= link_to root_path, class: "site_image" do
  =image_tag("site_logo.png")

ul.pc_menu
  li
    = link_to "ワンズシェアについて", abouts_path
  li
    = link_to "車を探す", searchs_path
  li
    = link_to "よくある質問", questions_path
  li
    = link_to "NEWS", news_index_path
  - if user_signed_in?
    li
      p.toggle_button マイページ
      ul.toggle_box
        li
          a href="/mypages"
            =image_tag("handle.png", :class => "driver_img")
            span ドライバーページ
        -if current_user.try(:owner)
          li
            a href="/ownerpages"
              =image_tag("car_icon.png", :class => "owner_img")
              span オーナーページ
        -else
          li
            a href="/consider"
              =image_tag("car_icon.png", :class => "owner_img")
              span オーナーを検討されてる方はこちら
        /-if current_user.has_role? :admin
        li
          a href="/admins"
            =image_tag("car_icon.png", :class => "owner_img")
            span 管理画面
        li
          a href="/store_admins"
            =image_tag("car_icon.png", :class => "owner_img")
            span 店舗管理画面
        -if current_user.has_role? :contracted
          li
            a href="/store_admins"
              =image_tag("car_icon.png", :class => "owner_img")
              span 店舗管理画面
  -else
    li.yellow
      = link_to '新規登録', new_user_registration_path
    li.yellow
      = link_to 'ログイン', user_session_path

button.drawer-toggle.drawer-hamburger type="button"
  span.sr-only toggle navigation
  span.drawer-hamburger-icon


javascript:

  $(function() {
    $('.toggle_button').click(function () {
        $('.toggle_box').slideToggle();
        $(this).toggleClass('open');
    });

  });
