doctype html
html
  head
    = csrf_meta_tags
    meta content="width=device-width" name="viewport"
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag "common/common", :media => "all"
    = stylesheet_link_tag "common/footer", :media => "all"
    = stylesheet_link_tag "common/header", :media => "all"
    = javascript_include_tag 'application'
    = stylesheet_link_tag "drawer", :media => "all"
    = javascript_include_tag 'iscroll.js'
    = javascript_include_tag 'drawer.js'
    script src="//maps.google.com/maps/api/js?key=AIzaSyDDINa5SgmbmF_zCgL-WJwGEzMDSlzxzYM"
  body.drawer.drawer--right
    header
      = render partial: "layouts/header"
    main
      -flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield
    footer
      = render partial: "layouts/footer"

  nav.drawer-nav
    ul.drawer-menu
      li
        = link_to "TOP", root_path
      li
        = link_to "ワンズシェアについて", abouts_path
      li
        = link_to "車を探す", searchs_path
      li
        = link_to "オーナーを検討されている方", consider_path
      li
        = link_to "よくある質問", questions_path
      li
        = link_to "NEWS", news_index_path
      - if user_signed_in?
        li
          = link_to "ドライバーページ", mypages_path
        li
          = link_to "オーナーページ", ownerpages_path
      -else
        li.yellow
          = link_to '新規登録', new_user_registration_path
        li.yellow
          = link_to 'ログイン', user_session_path

javascript:
  $(function() {
    $('.drawer').drawer();
    $('#flash_alert').fadeOut(7000);
    $('#flash_notice').fadeOut(7000);
  });
